.logInButton {
    background-color: #0EBB9A;
    text-align: center;
  color:#ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size:20px;
    font-weight: 500;
    width: 125px;
    height: 65px;
    padding-top: 20px;
  text-decoration: none;
    float: right;
  }
  .justify-content-end{
    font-family: 'Open Sans', sans-serif; 
    position: relative;
    float:left;
  }
  .centering {
    position: relative;
    text-align: center;
    float: right;
  }
  .logOutButton {
    background-color: #0EBB9A;
    text-align: center;
  color:#ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size:20px;
    font-weight: 500;
    width: 125px;
    height: 65px;
  text-decoration: none;
  }
  span:hover {
    color: #85CDE3;
  }
  .nav-link {
    font-weight: 450;
    font-size: 15px;
  }
  .blackcolor {
    color: black;
  }
  .beigecolor {
    color: beige;
  }
  a:hover {
    color: #85cde3;
  }
  body {
    background: radial-gradient(#abe7dc, #ffffff 70%);
  }
  .blackcontent {
    background-color: black;
  }
  .blackbody {
    background-image: url('../images/black-image.png');
    position: relative;
    min-height:100vh;
  }
  .blackheader{
    background-image: url('../images/black-image.png');
    position: relative;
  }
  .button1 {
    background-color: #0EBB9A;
    display: internal;
    color:#ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size:30px;
    font-weight:bold;
    text-shadow: 0.5px 0.5px 0px #000;
     padding:15px 75px;
    text-decoration: none;
    float: right;
  }

  a {
    color: white;
    text-decoration: none;
  }


  .btn {
    background-color: #fff;
    border-color:  #85CDE3;
    transition: all .7s;
    border-radius: 0;
  }
  .btn:hover {
    color: #fff;
    background-color:  #85CDE3;
    border-color:  #85CDE3;
  }

  .button2 {
    background-color: #0d1117;
	color:white;
    border: 2px solid #0d1117;
	font-size:22px;
	padding:6px 24px;
	text-decoration:none;
    width: 90%;
    box-shadow: none;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;

}

.button3{
    background-color: #F9A605;
	color:white;
    border: 2px solid #F9A605;
	font-size:22px;
	padding:6px 24px;
	text-decoration:none;
    width: 90%;
    box-shadow: none;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}


  input[type=text] {
    background-color: #f6f4f3;
  }
  
  input[placeholder] {
    font-style: italic;
  }

  #link {
    color: black;
    font-size: 30px;
    margin-bottom: -5px;
  }
  /* jami addons */
.black {
    background-image: url('../images/black-image.png');
    position: relative; 
    left: 0; 
    right: 0;
    min-height: 900px;
}
.white {
    background-color:#e6e6e6;
    position: relative; 
    left: 0; 
    right: 0;
    min-height: 900px;
}
.white-theme {
    color:black;
    background-color:#ffffff;
    border-radius:7px;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid black;
    box-shadow: 5px 5px 6px #000;
}
.black-background {
    color:beige;
    background-color: black;
    border-radius:7px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid rgb(255, 244, 244);
}
.black-theme {
    color:black;
    background-color: linear-gradient( white, azure);
    border: 1px solid black;
}

.btn-primary{
    width: 30%;
    font-size:30px;
	font-weight:bold;
    text-shadow: 2px 2px 0px #000;
}
.right{
    float: right;
}
.left {
    float: left;
}
.middle {
    margin: auto;
}
.btn-dark {
    font-size:22px;
	font-weight:bold;
    text-shadow: 1px 1px 0px #000;
}
.btn-warning {
    font-size:22px;
	font-weight:bold;
}
.btn-info {
    font-size:22px;
	font-weight:bold;
    text-shadow: 2px 2px 0px #000;
    color:rgb(255, 255, 255);
    box-shadow: 5px 5px 6px #000;
}
.loginName{
    font-size: 22px;
    font-weight:bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
} 

.marginResetting{
    position: absolute;
    left: 0;
    right: 0;
}
.buttonsPosition {
    position: relative;
}
.center {
    text-align: center;
}
a:hover {
    color: #039be5;
  }
  .postTitle{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 30px;
    font-weight: bolder;
  }
  .nav-link {
    display: inline-block;
  }