.name {
    font-family: Impact, sans-serif; 
    color: #0EBB9A;
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px black;


}

div {
    color: #F9A605;
    text-shadow: 1px 2px black;
    font-family: Impact
}

body {
    color: white;
    /* background-color: #333; */
    font-size: 150%;
    /* font-family: 'Satisfy'; */
    /* margin: 5em 25%; */
    /* background-image: linear-gradient(to bottom right, , white); */
    /* background-image: radial-gradient(circle, #0EBB9A,white); */
    /* background: -webkit-gradient(radial, from(white), to(#0EBB9A)); */
    background: radial-gradient(circle at 50% 50%, rgba(14, 187, 154, 1) 0%, rgba(14, 187, 154, 0.61) 19%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 84%, rgba(255, 255, 255, 1) 85%);
    
 }