<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>event-join</title>
      </head>


<body>
    <div class="container">

        <div *ngIf="logInStatus; else notLoggedIn">
            <div style="text-align: right;  display: flex; justify-content:space-between;">
                <p style="font-weight: bolder;">Welcome, {{currentUser}}!</p>
                <button (click)="logOut()"> Log Out?</button>
            </div>       
        </div>
        
        
        <ng-template #notLoggedIn>
            <p style="text-align: left;"><span><a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">
                Login</a></span> to <span style="font-family: impact; font-size: 15px;">rally!</span> your community</p>
        </ng-template>


            <div id="list_head">
                <p>Join Event:  {{event.eventTitle}}</p> 
            </div>
        
            <br>
            <br>
           
                   
                <form #eventJoinInformation="ngForm" (ngSubmit)="joinEvent(eventJoinInformation)">

                    <div class="row">
                        <div class="col-5">

                            <input type="hidden" id="id" name="eventId" value="event.id" ngModel>
                            
                            <div class="mb-3">
                            <label class="form-label">name</label><br>
                            <input class="form-control form-control-lg" type="text" required #name="ngModel" id="name" name="name" ngModel>
            
                            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger" >
                                Who is joining the event?</div>
                            </div>
                                
                            <label class="form-label">email</label><br>
                            <input class="form-control form-control-lg" type="text" required email #contactEmail="ngModel" id="email" name="contactEmail" ngModel>
            
                            <div  *ngIf="contactEmail.invalid && (contactEmail.dirty || contactEmail.touched)" class="alert alert-danger">
                                
                                <div *ngIf="contactEmail.errors.required">
                                    Who can we contact?
                                </div>    
            
                                <div *ngIf="contactEmail.errors.email">
                                    Whoops! We need a valid email address.
                                </div>
                            
                            </div>
            
                            <br>
                            <label class="form-label">number attending</label><br>
                            <input class="form-control form-control-lg" type="number" required #numAttending="ngModel" id="numAttending" name="numAttending" ngModel>
                            
                            <div *ngIf="numAttending.invalid && (numAttending.dirty || numAttending.touched)" class="alert alert-danger">
                                How many are coming?
                            </div>
            
                            <br>    
                            <label class="form-label">add comment (optional)</label><br>
                            <textarea class="form-control" rows="5" id=comment name="comment" ngModel></textarea>
                                   
                            <br>
                            <br>
                           
                            <button [disabled]="eventJoinInformation.invalid" type="submit" id="join_btn">SUBMIT</button>
                            <br>
                                <!-- <div *ngIf="eventInformation.invalid && eventInformation.touched" class="alert alert-danger">
                                    Make sure you've filled out the whole form!
                                </div> -->
            
                        </div>
                    </div>
 
                </form>
               


    </div>
</body>
</html>
