.logInButton {
   background-color: #0EBB9A;
   text-align: center;
  color:#ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size:20px;
   font-weight: 500;
   width: 125px;
   height: 65px;
   padding-top: 20px;
  text-decoration: none;
}

.logOutButton {
   background-color: #0EBB9A;
   text-align: center;
  color:#ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size:20px;
   font-weight: 500;
   width: 125px;
   height: 65px;
  text-decoration: none;
}

.nav-link {
   color: black;
   font-weight: 450;
   font-size: 15px;
}


#list_head {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 60px;
    color: black;
    font-weight: 700;
    margin-top: 80px;
 }
 
 
 input[type=text] {
     background-color: #f6f4f3;
  }
 
 
  input[type=number] {
     background-color: #f6f4f3;
  }
 
 
  #comment {
     background-color: #f6f4f3;
  }
  
 
  label {
     /* font-family: montserrat, sans-serif; */
     font-size: x-large;
  }
 
 
  #join_btn {
    background-color: #85CDE3;
   /* border-radius:7px; */
   display: internal;
   color:#ffffff;
   font-family: 'Open Sans', sans-serif;
   font-size:30px;
   font-weight: bold;
    text-shadow: 1px 1px 1px #000;
   padding:15px 75px;
   text-decoration: none;
    width: 530px;
 }
 
 .form-check-label {
    font-size: 17px;
 }
 
 .form-label {
    margin-bottom: -5px;
 }