<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>event-join</title>
      </head>

        <!-- <div *ngIf="logInStatus; else notLoggedIn">
            <div style="text-align: right;  display: flex; justify-content:space-between;">
                <p style="font-weight: bolder;">Welcome, {{currentUser}}!</p>
                <button (click)="logOut()"> Log Out?</button>
            </div>       
        </div>
        
        
        <ng-template #notLoggedIn>
            <p style="text-align: left;"><span><a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">
                Login</a></span> to <span style="font-family: impact; font-size: 15px;">rally!</span> your community</p>
        </ng-template> -->

        <header>
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white; border-bottom: 1px solid #000; padding: 15px;">
                    <div class="container">
                    <a class="navbar-brand" routerLink="/home" routerLinkActive="active" href="#">
                        <img src="/assets/home-assets/rally_logo2.jpg" alt="" height="75" width="80">
                    </a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="container">
                            <ul class="nav justify-content-end" style="margin-right: 50px; font-family: 'Open Sans', sans-serif;">
                            <li class="nav-item"><a class="nav-link" routerLink="/events" routerLinkActive="active">EVENTS</a></li>
                            <li class="nav-item"><a class="nav-link" routerLink="/forum" routerLinkActive="active">FORUMS</a></li>
                            <li class="nav-item"><a class="nav-link" routerLink="/services" routerLinkActive="active">EATS</a></li>
                            <li class="nav-item"><a class="nav-link" routerLink="/services" routerLinkActive="active">SERVICES</a></li>
                            <li class="nav-item"><a class="nav-link" routerLink="/resources" routerLinkActive="active">RESOURCES</a></li>
                            <li class="nav-item"><a class="nav-link" routerLink="/myProfile" routerLinkActive="active">MY PROFILE</a></li>
                            </ul>
                        </div>    
                        
                        <div *ngIf="logInStatus; else notLoggedIn">
                            <button class="logOutButton" (click)="logOut()">LOG OUT</button>
                            <!-- <p style="margin-top: 5px; margin-bottom: -5px">Welcome, {{currentUser}}!</p> -->
                        </div>
        
                            <ng-template #notLoggedIn>
                                <a routerLink="/login" routerLinkActive="active" class="logInButton">LOG IN</a>
                            </ng-template>
                    </div>
                    </div>
                </nav>
            </div>
          </header>


<body style="margin-top: 120px;">
    <div class="container">

      


            <div id="list_head">
                <p>Join Event:  {{event?.eventTitle}}</p> 
            </div>
        
            <br>
            <br>
           
                   
                <form #joinEventInformation="ngForm" (ngSubmit)="joinEvent(joinEventInformation)">

                    <div class="row">
                        <div class="col-5">

                            <!-- <input type="hidden" id="id" name="eventId" value="event.id" ngModel> -->
                            <input type="hidden" id="event" name="event" value="event" ngModel>
                            
                            <div class="mb-3">
                            <label class="form-label">name</label><br>
                            <input class="form-control form-control-lg" type="text" required #attending="ngModel" id="attending" name="attending" ngModel>
            
                            <div *ngIf="attending.invalid && (attending.dirty || attending.touched)" class="alert alert-danger" >
                                Who is joining the event?</div>
                            <!-- </div> -->
                              
                            <br>
                            <label class="form-label">email</label><br>
                            <input class="form-control form-control-lg" type="text" required email #contactEmail="ngModel" id="email" name="contactEmail" ngModel>
            
                            <div  *ngIf="contactEmail.invalid && (contactEmail.dirty || contactEmail.touched)" class="alert alert-danger">
                                
                                <div *ngIf="contactEmail.errors.required">
                                    Who can we contact?
                                </div>    
            
                                <div *ngIf="contactEmail.errors.email">
                                    Whoops! We need a valid email address.
                                </div>
                            
                            </div>
            
                            <br>
                            <label class="form-label">number attending</label><br>
                            <input class="form-control form-control-lg" type="number" required #numAttending="ngModel" id="numAttending" name="numAttending" ngModel>
                            
                            <div *ngIf="numAttending.invalid && (numAttending.dirty || numAttending.touched)" class="alert alert-danger">
                                How many are coming?
                            </div>
            
                            <br>    
                            <label class="form-label">add comment (optional)</label><br>
                            <textarea class="form-control" rows="5" id=comment name="comment" ngModel></textarea>
                                   
                            <br>
                            <br>
                           
                            <button [disabled]="joinEventInformation.invalid" type="submit" id="join_btn">SUBMIT</button>
                            <br>
                                <!-- <div *ngIf="eventInformation.invalid && eventInformation.touched" class="alert alert-danger">
                                    Make sure you've filled out the whole form!
                                </div> -->
                            </div>
            
                        </div>
                    </div>
 
                </form>
              
                
            <!-- <a routerLink="/edit/{{join.id}}" routerLinkActive="active" class="btn btn-link" style="color: #85CDE3;">EDIT RSVP</a> -->


    </div>
</body>
</html>
