<body class="background">
  
  <!-- login status -->
  <div *ngIf="logInStatus; else notLoggedIn">
        
    <div style="text-align: right;">
        <p class="text-white">Logged in as: {{currentUser}}  <button (click)="logOut()"> Log Out?</button></p>
    </div>

</div>
<ng-template #notLoggedIn>

    <p class="text-white">User is not logged in. </p>
    <a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">Login</a>
</ng-template>

<!-- Banner -->
<div class="green"><h1>Search Services</h1></div>
<br>
<br>

<div class="form-group">
    <input type="search" class="form-control" [(ngModel)]="filter" placeholder="Filter by Type or Service">
</div>
<br>
<br>

<!-- table of all services from service repository, category repository, and type repository -->
<table class="table table-striped table-dark table-hover" style="align-content: center;">
    <thead>
        <tr>
            <th scope="col" sortable="id" (sort)="onSort($event)">#</th>
            <th scope="col" sortable="type" (sort)="onSort($event)">Type</th>
            <th scope="col" sortable="service" (sort)="onSort($event)">Service</th>
            <th scope="col" sortable="category" (sort)="onSort($event)">Category</th>
            <th scope="col" sortable="day" (sort)="onSort($event)">Days</th>
            <th scope="col" sortable="time" (sort)="onSort($event)">Times</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of servicesList | service:filter">
            <td><a href="/{{s.id}}" routerLink='/serviceitem' [queryParams]="{id: s.id}" routerLinkActive="active">{{s.id}}</a></td>      
            <td>{{s.type.type}}</td>
            <td>{{s.service}}</td> 
            <td>{{s.category.category}}</td> 
            <td>{{s.day}}</td> 
            <td>{{s.time}}</td> 

        </tr>
    </tbody>


</table>
</body>