<html> 
    <head>
        
    </head>

<body>

   
     <br><br>

    <div>
        <!-- <img class="image" src = "https://st4.depositphotos.com/1035350/21882/i/600/depositphotos_218825282-stock-photo-louis-missouri-usa-downtown-cityscape.jpg"> -->

    
            <div class="stl">
                <div>
                    <img src = "https://st3.depositphotos.com/6632790/37103/i/600/depositphotos_371031572-stock-photo-louis-skyscraper-night-reflection-river.jpg">
                    <div class = "centeredSTL" ><h4 style="font-size:45px">Let's grub STL!!!</h4></div>
                </div>
            </div>

            <br>

        <div class="stl2">
            <h4  style="text-align:center" style="font-size:35px">What kind of food are you in the mood for?</h4>
        </div>

            <br>

           

                <div  style="text-align: center">
                    <button class="nav-link" routerLink="/restaurants/american" routerLinkActive="active">American 🍔</button>
                    <button class="nav-link" routerLink="/restaurants/asian" routerLinkActive="active" >Asian 🥡</button>
                    <button class="nav-link" routerLink="/restaurants/italian" routerLinkActive="active">Italian 🍝</button>
                    <button class="nav-link" routerLink="/restaurants/mexican" routerLinkActive="active">Mexican 🌮</button>
                    <button class="nav-link" routerLink="/restaurants/pizza" routerLinkActive="active">Pizza 🍕</button>
                </div>

            </div>

            <br>
        <div class="button1">
            <button class="button1" routerLink="/restaurants/search" routerLinkActive="active">search</button>
            <button class="button1" routerLink="/restaurants/viewall" routerLinkActive="active">viewall</button>  
            <button class="button1" routerLink="/restaurants/add" routerLinkActive="active">add restaurant</button>  

        </div>
        <br>
    </body>
</html>