<html> 
    <head>

    </head>

<body>

<div class="orange">
   
    <div class="container-fluid border" style="text-align: center;">
        <h2>Time to Grub!!!</h2>
    </div>
</div>

<br>

<div>
    <h4>What kind of food are you in the mood for?</h4>

    <br>

        <div> 
            <button class="nav-link" routerLink="/restaurants/american" routerLinkActive="active">American</button>
            <button class="nav-link" routerLink="/restaurants/asian" routerLinkActive="active" >Asian</button>
            <!-- <button class="nav-link" routerLink="/restaurants/fastFood" routerLinkActive="active">Fast Food </button> -->
            <button class="nav-link" routerLink="/restaurants/italian" routerLinkActive="active">Italian</button>
            <button class="nav-link" routerLink="/restaurants/mexican" routerLinkActive="active">Mexican</button>
            <button class="nav-link" routerLink="/restaurants/pizza" routerLinkActive="active">Pizza</button>
        </div>

        <!-- <div> 
            <p> <em>Click here:</em> <a class="w3-btn" href="http://www.w3schools.com">Link Button</a> </p> 
        </div>  -->

    <!-- <button class="button">American</button> -->
    


    <!-- <div class="button">
        <div style="text-align: center;">
            <h2><a class="nav-link" routerLink="/American" routerLinkActive="active">American</a></h2>

        </div>
    </div>
    <br> -->

    <!-- <div class="pizza button">
        <img src="https://www.allrecipes.com/thmb/iXKYAl17eIEnvhLtb4WxM7wKqTc=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/240376-homemade-pepperoni-pizza-Beauty-3x4-1-6ae54059c23348b3b9a703b6a3067a44.jpg" alt="Snow" style="width:100%">
        <button class="btn">Pizza</button>
      </div> -->

    </div>

    <br>
<div>
    <button class="button1">search</button>
    <button class="button1">filter</button>
    <button class="button1">viewall</button>
</div>
    <br>
    </body>

</html>