.logInButton {
    background-color: #0EBB9A;
    text-align: center;
	color:#ffffff;
	font-family: montserrat, sans-serif;
	font-size:20px;
    font-weight: 500;
    width: 125px;
    height: 65px;
    padding-top: 20px;
	text-decoration: none;
}

.nav-link {
    color: black;
    font-weight: 450;
    font-size: 15px;
}