<!-- <!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>homepage</title>
      </head>

<body> -->

<header>
  <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white; border-bottom: 1px solid #000; padding: 15px;">
          <div class="container">
          <a class="navbar-brand" routerLink="/home" routerLinkActive="active" href="#">
              <img src="/assets/home-assets/rally_logo2.jpg" alt="" height="75" width="80">
          </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="container">
                  <ul class="nav justify-content-end" style="margin-right: 50px; font-family: 'montserrat', sans-serif;">
                  <li class="nav-item"><a class="nav-link" routerLink="/events" routerLinkActive="active">EVENTS</a></li>
                  <li class="nav-item"><a class="nav-link" routerLink="/forum" routerLinkActive="active">FORUMS</a></li>
                  <li class="nav-item"><a class="nav-link" routerLink="/services" routerLinkActive="active">EATS</a></li>
                  <li class="nav-item"><a class="nav-link" routerLink="/services" routerLinkActive="active">SERVICES</a></li>
                  <li class="nav-item"><a class="nav-link" routerLink="/resources" routerLinkActive="active">RESOURCES</a></li>
                  <li class="nav-item"><a class="nav-link" routerLink="/myProfile" routerLinkActive="active">MY PROFILE</a></li>
                  </ul>
              </div>             
              <a routerLink="/myProfile" routerLinkActive="active" class="logInButton">LOG IN</a>
          </div>
          </div>
      </nav>
  </div>

  <link 
href="https://fonts.googleapis.com/css?family=montserrat"
href="https://fonts.googleapis.com/css?family=montserrat:b"
href="https://fonts.googleapis.com/css?family=oswald"
rel="stylesheet">

</header>

<!-- <div style="text-align:center"class="container">
  <h1>
    Rally Application
  </h1>

  <p>Hello World!</p>

<nav>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <ul class="nav">
        <li class="nav-item"><a class="nav-link" routerLink="/myProfile" routerLinkActive="active">My Profile</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/forum" routerLinkActive="active">Community Forums</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/resources" routerLinkActive="active">Resources</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a></li>
      </ul>
    </div>
</div>
</nav> -->

<!-- <link 
href="https://fonts.googleapis.com/css?family=montserrat"
href="https://fonts.googleapis.com/css?family=montserrat:b"
href="https://fonts.googleapis.com/css?family=oswald"
rel="stylesheet"> -->




<!-- </body> -->

<!-- </div> -->

<router-outlet></router-outlet>