.logInButton {
    background-color: #0EBB9A;
    text-align: center;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
    font-weight: 500;
    width: 125px;
    height: 65px;
    padding-top: 20px;
	text-decoration: none;
}

.logOutButton {
    background-color: #0EBB9A;
    text-align: center;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
    font-weight: 500;
    width: 125px;
    height: 65px;
	text-decoration: none;
}

.nav-link {
    color: black;
    font-weight: 450;
    font-size: 15px;
}





#list_head {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 60px;
    color: black;
    font-weight: 700;
}


.myButton {
    background-color: #0EBB9A;
	display: internal;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size:30px;
	font-weight:bold;
    text-shadow: 0.5px 0.5px 0px #000;
	padding:15px 75px;
	text-decoration: none;
    float: right;
}

#event_display {
    text-align: left;
    font-size: 35px;

}



.button2 {
    background-color: #F9A605;
	color:#ffffff;
	font-size:22px;
	padding:6px 24px;
	text-decoration:none;
    width: 50%;
}

.card-body {
    text-align: left;
    font-size: 28px;
}


.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
    background-color: #fff;
    border-color:  #85CDE3;
    transition: all .7s;
    border-radius: 0;
  }
  .btn:hover {
    color: #fff;
    background-color:  #85CDE3;
    border-color:  #85CDE3;
  }

  .demo-inline-calendar-card {
    width: 300px; 
    color:#F9A605
  }








