<!-- <div *ngIf="logInStatus; else notLoggedIn">
    
    <div style="text-align: right;">
        <button (click)="logOut()"> Log Out?</button>
    </div>

    <h2>My Profile</h2>
    <br><br>
    <p>Logged in as: {{currentUser}}</p>

</div>


<ng-template #notLoggedIn>

    <h2>User Profile</h2>

    <p>User is not logged in.</p>
    <a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">Login</a>
</ng-template> -->





<!-- <div *ngIf="logInStatus; else notLoggedIn">
    
    <div style="text-align: right;  display: flex; justify-content:space-between;">
        <p style="font-weight: bolder;">Welcome, {{currentUser}}!</p>
        <button (click)="logOut()"> Log Out?</button>
    </div>
   

</div>


<ng-template #notLoggedIn>
    <p style="text-align: left;"><span><a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">Login</a></span> to <span style="font-family: impact; font-size: 15px;">rally!</span> your community</p>
</ng-template> -->



<body style="margin-top: 80px;">
    <div class="container">

        <div class="row">
            <div class="col">
                <p id="list_head">What's happening?</p> 
            </div>
            <div class="col">
                <span>
                    <a href="http://localhost:4200/create/" class="myButton">CREATE EVENT</a>
                </span>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>

        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-2">

            </div>
            <div class="col-7">
                <p style="text-align: left; font-size: 40px; ; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-bottom: -15px;">All Events</p>
                <hr style="height:4px; color: black; background-color: black">
            </div>
        </div>
        <br>

        
        <div class="row">
            <div class="col-3">
                <p id="event_display1">search by date</p>

                    <div>
                        <div>
                        <mat-card class="demo-inline-calendar-card">
                            <mat-calendar [(selected)]="selected"></mat-calendar>
                          </mat-card>
                        </div>
                        <br>
                          <!-- <p style="font-size: 15px;">I'm available on: {{selected | date}}</p> -->
                          <div style="margin-top: -15px;">
                            <button class="button2" style="width: 100%;" (click)="byDate()" >find events</button>
                          </div>   
                    </div>

                    <!-- <div>
                        <mat-card class="demo-inline-calendar-card">
                            <mat-calendar [(ngModel)]="DateSelected"></mat-calendar>
                        </mat-card>
                        <br>
                        <button class="button2" style="width: 100%;" (click)="byDate()" >find events</button>

                    </div> -->
               
                <!-- <mat-card class="demo-inline-calendar-card">
                    <mat-calendar (selectedChange)="selected = $event"></mat-calendar>
                  </mat-card>
                  <p>Selected date: {{selected}}</p> -->
                
                <!-- <div class="card w-100">
                    <div class="card-body">
                      <h3 class="card-title">
                        I'm available on: <input type="date" [(ngModel)]="DateSelected">
                      </h3>
                      <button class="button2" style="width: 100%;" (click)="byDate()" >find events</button>
                    </div>
                  </div> -->

            <br>
            <br>
            <br>
            
                <span>
                    <p id="event_display2">search by category</p>

                        <div>
                            <button class="button2" (click)="filter('connect')" >connect</button>
                            <button class="button2" (click)="filter('learn')" >learn</button>
                            <button class="button2" (click)="filter('volunteer')">volunteer</button>
                            <button class="button2" (click)="filter('donate')">donate</button>
                            <button class="button2" (click)="filter('celebrate')">celebrate</button>
                            <button class="button2" (click)="viewAll()">view all</button>
                        </div>
                    
                </span>
            </div>

            <div class="col-2"></div>

                <div class="col-7">

                   <div class="card mb-4" style="max-width: 900px;" *ngFor="let event of filteredEvents">
                        
                    <ng-container *ngIf="filteredEvents.length !== 0">
                       <div class="row g-0">
                                <div class="col-md-4">
                                    <img *ngIf="event.eventCategory === 'connect'" src="/assets/events-assets/connect.jpg"  class="card-img img-fluid rounded-start;">
                                    <img *ngIf="event.eventCategory === 'learn'" src="/assets/events-assets/learn.jpg"  class="card-img img-fluid rounded-start;">
                                    <img *ngIf="event.eventCategory === 'volunteer'" src="/assets/events-assets/volunteer.jpg"  class="card-img img-fluid rounded-start;">
                                    <img *ngIf="event.eventCategory === 'donate'" src="/assets/events-assets/donate.jpg"  class="card-img img-fluid rounded-start;">
                                    <img *ngIf="event.eventCategory === 'celebrate'" src="/assets/events-assets/celebrate.jpg"  class="card-img img-fluid rounded-start;">
                                </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <!-- <h3 class="card-title">{{event.datetime | date:'short'}}</h3>
                                    <h2 class="card-title">{{event.eventTitle}}</h2>
                                    <p class="card-text">category: {{event.eventCategory}}</p>
                                    <p class="card-text"><small class="text-muted">hosted by {{event.eventHost}}</small></p> -->
                                    <p style="font-family:Impact;  font-size: 15;">{{event.datetime | date:'short'}}</p>
                                    <p style="font-weight: bold; margin-top: -10px;">{{event.eventTitle}}</p>
                                    <p style="font-size: 25px; margin-top: -10px;">category: {{event.eventCategory | uppercase}}</p>
                                    <p style="font-size: 15px; font-style: italic; margin-top: 70px;">hosted by {{event.eventHost}}</p>
                                    <a routerLink="/event/{{event.id}}" routerLinkActive="active" class="btn btn-outline-info btn-xm">learn more</a>
                                </div>
                            </div>
                        </div>    
                    </ng-container>

                    </div> 

                    <ng-container *ngIf="filteredEvents.length===0">
                        <p style="font-size: 25px;">No events found at this time.</p>
                    </ng-container>
                     
                </div>             
        </div>
    </div>
</body>
