<!-- <!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>homepage</title>
      </head> -->


<header>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white; border-bottom: 1px solid #000; padding: 15px;">
            <div class="container">
            <a class="navbar-brand" routerLink="/home" routerLinkActive="active" href="#">
                <img src="/assets/home-assets/rally_logo2.jpg" alt="" height="75" width="80">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container">
                    <ul class="nav justify-content-end" style="margin-right: 50px; font-family: 'Open Sans', sans-serif;">
                    <li class="nav-item"><a class="nav-link" routerLink="/events" routerLinkActive="active">EVENTS</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/forum" routerLinkActive="active">FORUMS</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/services" routerLinkActive="active">EATS</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/services" routerLinkActive="active">SERVICES</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/resources" routerLinkActive="active">RESOURCES</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/myProfile" routerLinkActive="active">MY PROFILE</a></li>
                    </ul>
                </div>    
                
                <div *ngIf="logInStatus; else notLoggedIn">
                    <button class="logOutButton" (click)="logOut()">LOG OUT</button>
                </div>

                    <ng-template #notLoggedIn>
                        <a routerLink="/login" routerLinkActive="active" class="logInButton">LOG IN</a>
                    </ng-template>
            </div>
            </div>
        </nav>
    </div>
  </header>

    <body style="margin-top: 120px;">
        <div class="container">
          
            <div class="row">
                <img src="/assets/home-assets/rally_title.jpg" class="img-fluid">
            </div>
            <div class="row">
                <img src="/assets/home-assets/Horiz.jpg" class="img-fluid float-start" width="1250" >
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row" >
                <div class="col-3"></div>
                <div class="col-6" >
                    <p class="Rh1">IT'S ALL ABOUT <span style="font-size: 60px; font-weight: 800;">WE</span>.</p>
                    <p class="Rp1">What does our community need? What can we offer? How do we want to be involved? 
                        RALLY is a website that empowers us—the users—to determine & shape the type of community we long to be. 
                        Create an account & get started! Who do you want to RALLY today?
                    </p>
                </div>
                <div class="col-3"></div>
            </div>
            <br>
            <br>
            <br>

                <div class="container" style="width: 85%">
            

                    <div class="row row-cols-1 row-cols-md-3 g-5">
                    <div class="col">
                          <div class="card h-100">
                        <img src="/assets/home-assets/events.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="Rp2"><a  routerLink="/events" routerLinkActive="active">Events</a></p>
                        <p class="Rp3">Create or join events to connect with neighbors.</p>
                        </div>
                    </div>
                    </div>
                    <div class="col">
                    <div class="card h-100">
                        <img src="/assets/home-assets/forum.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="Rp2"><a routerLink="/forum" routerLinkActive="active">Forums</a></p>
                        <p class="Rp3">Ask. Share. Start discussions that matter.</p>
                        </div>
                    </div>
                    </div>
                    <div class="col">
                    <div class="card h-100">
                        <img src="/assets/home-assets/eats.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="Rp2"><a routerLink="/services" routerLinkActive="active">Eats</a></p>
                        <p class="Rp3">Discover & review our next favorite dish.</p>
                        </div>
                    </div>
                    </div>
                </div>


                <br>
                <br>


                <div class="row row-cols-1 row-cols-md-3 g-5">
                    <div class="col">
                    <div class="card h-100">
                        <img src="/assets/home-assets/services.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="Rp2"><a routerLink="/services" routerLinkActive="active">Services</a></p>
                        <p class="Rp3">Request or offer a service to provide.</p>
                        </div>
                    </div>
                    </div>
                    <div class="col">
                    <div class="card h-100">
                        <img src="/assets/home-assets/resources.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="Rp2"><a routerLink="/resources" routerLinkActive="active">Resources</a></p>
                        <p class="Rp3">Find valuable info & helpful links.</p>
                        </div>
                    </div>
                    </div>
                    <div class="col">
                    <div class="card h-100">
                        <img src="/assets/home-assets/user profiles.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="Rp2"><a routerLink="/myProfile" routerLinkActive="active">User Profiles</a></p>
                        <p class="Rp3">Track comments, events & activity.</p>
                        </div>
                    </div>
                    </div>
                </div>
                </div>

                <br>
                <br>
                <br>
                <br>
                <br>
        </div>



    <footer>
        <div class="container-fluid" style="background-color: #F6F4F3; padding: 20px;">
            <div class="container">
                <p class="Rp4">STAY IN TOUCH</p>
                <p class="Rp5">admin@rallywebsite.com | (123) 456-7890</p>
            </div>
        </div>
    </footer>


</body>
<!-- </html> -->