<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white; border-bottom: 1px solid #000;">
            <div class="container-fluid">
              <a class="navbar-brand" routerLink="/home" routerLinkActive="active" href="#">
                <img src="/assets/home-assets/rally_logo2.jpg" alt="" height="75" width="80">
              </a>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container">
                    <ul class="nav justify-content-end" style="margin-right: 20px;">
                      <li class="nav-item"><a class="nav-link" routerLink="/myProfile" routerLinkActive="active">MY PROFILE</a></li>
                      <li class="nav-item"><a class="nav-link" routerLink="/events" routerLinkActive="active">EVENTS</a></li>
                      <li class="nav-item"><a class="nav-link" routerLink="/forum" routerLinkActive="active">FORUM</a></li>
                      <li class="nav-item"><a class="nav-link" routerLink="/services" routerLinkActive="active">EATS</a></li>
                      <li class="nav-item"><a class="nav-link" routerLink="/services" routerLinkActive="active">SERVICES</a></li>
                      <li class="nav-item"><a class="nav-link" routerLink="/resources" routerLinkActive="active">RESOURCES</a></li>
                    </ul>
                  </div>             
                  <a routerLink="/myProfile" routerLinkActive="active" class="logInButton">LOG IN</a>
              </div>
            </div>
          </nav>
    </div>
</header>
