
.logInButton {
    background-color: #0EBB9A;
    text-align: center;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
    font-weight: 500;
    width: 125px;
    height: 65px;
    padding-top: 20px;
	text-decoration: none;
}

.logOutButton {
    background-color: #0EBB9A;
    text-align: center;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
    font-weight: 500;
    width: 125px;
    height: 65px;
	text-decoration: none;
}

.nav-link {
    color: black;
    font-weight: 450;
    font-size: 15px;
}


.card-body {
    background-color: #0EBB9A;
}

.Rh1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}


.Rp1 {
    font-size: 20px;
    text-align: center;
    margin-top: -15px;

}


.Rp2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.Rp3 {
    font-size: 20px;
    text-align: center;
}

.Rp4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 0px;
}

.Rp5 {
    font-size: 20px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 30px;
}

a {
    color: black;
    text-decoration: none;
}

