<div class="marginResetting">
    <div class="buttonsPosition">
    <span *ngIf="logInStatus; else notLoggedIn">
        <span class="right"><span class="loginName">Logged in as: {{currentUser}} </span><button class="btn btn-info" (click)="logOut()"> Log Out?</button></span>
    </span>
        <!-- log in button -->
        <ng-template #notLoggedIn>
            <p>User is not logged in. </p>
            <a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">Login</a>
        </ng-template>
        <!-- log out button -->
        <span class="left" *ngIf="darktheme; else lightTheme">
                <button class="btn btn-warning" (click)="Light()">Turn on the lights</button>
        </span>
        <ng-template #lightTheme>
            <span class="left">
                <button class="btn btn-dark" (click)="Dark()">Turn off the lights</button>
            </span>
        </ng-template> 
            <!-- light/dark theme buttons    -->
        <form #searchAttempt="ngForm" (ngSubmit)="Search(searchAttempt)">
            <div class="middle">
                <input type="text" name="description" required ngModel>
                <input class="btn btn-info" type="submit" value="Search Posts">
            </div>
        </form>
    </div>
        <!-- search button -->
            <!-- create post button  -->
            <div *ngIf="!darktheme; else darkSections">
                <div id="theme" class="white">
                <!-- background theme  -->
                <body style="min-width: 100%;" class="white-theme">
                        <h1 class="center">Help Requests/Home Improvement</h1>
                </body>
                <div *ngIf="!createPostBoolean; else createPostForm">   
                    <div class="center" *ngIf="logInStatus">
                        <button (click)="createPostButton()" class="btn btn-primary">Create Post</button>
                    </div>
                </div>
                <!-- Page header -->
                        <br>
                        <br>
                            <div style="text-align: left;" *ngFor="let test of newArray">
                                
                                <span *ngIf="logInStatus">
                                    <button  style="font-size: 35px;" class="btn btn-info" (click)="LikePost(test.id)">Like Post</button>
                                </span>         
                                <body style="min-width: 90%;" class="white-theme">
                                    <h3><a class="nav-link" routerLink="/forum/post/{{test.id}}" routerLinkActive="active">{{test.title}}</a></h3>
                                    <a class="nav-link" routerLink="/forum/post/{{test.id}}" routerLinkActive="active">Posted by {{test.userEntity.userName}}</a> 
                                    <span><a class="nav-link" routerLink="/forum/post/{{test.id}}" routerLinkActive="active">{{test.forumPostLike.likes}} likes</a> </span> 
                                </body>
                                <br><br>
                            </div>
                        <!-- light theme posts -->
            </div>
            <ng-template #createPostForm>
                <div *ngIf="logInStatus">
                    <form #createdPostAttempt="ngForm" (ngSubmit)="createPost(createdPostAttempt)">
                            <body class="white-theme">
                                <label>Title: <input type="text" name="title" required ngModel></label>
                                            <br><br>
                                <label>Description: <input type="text" name="description" required ngModel></label>     
                                            <br><br>
                                <input type="submit" value="Submit">
                            </body>
                    </form>
                </div>
            </ng-template>
            </div>
            <ng-template #darkSections>
            <div id="theme" class="black">
                <!-- background theme  -->
                <body style="min-width: 100%;" class="black-background">
                        <h1 class="center">Help Requests/Home Improvement</h1>
                </body>
                <div *ngIf="!createPostBoolean; else createPostForm">   
                    <div class="center" *ngIf="logInStatus">
                        <button (click)="createPostButton()" class="btn btn-primary">Create Post</button>
                    </div>
                </div>
                <!-- Page header -->
                        <br>
                        <br>
                            <div style="text-align: left;" *ngFor="let test of newArray">
                                
                                <span *ngIf="logInStatus">
                                    <button  style="font-size: 35px;" class="btn btn-info" (click)="LikePost(test.id)">Like Post</button>
                                </span>         
                                <body style="min-width: 90%;" class="black-background">
                                    <h3><a class="nav-link" routerLink="/forum/post/{{test.id}}" routerLinkActive="active">{{test.title}}</a></h3>
                                    <a class="nav-link" routerLink="/forum/post/{{test.id}}" routerLinkActive="active">Posted by {{test.userEntity.userName}}</a> 
                                    <span><a class="nav-link" routerLink="/forum/post/{{test.id}}" routerLinkActive="active">{{test.forumPostLike.likes}} likes</a> </span> 
                                </body>
                                <br><br>
                            </div>
                        <!-- dark theme posts -->
            </div>
            <ng-template #createPostForm>
                <div *ngIf="logInStatus">
                    <form #createdPostAttempt="ngForm" (ngSubmit)="createPost(createdPostAttempt)">            
                            <body class="black-background">
                                <label>Title: <input type="text" name="title" required ngModel></label>
                                            <br><br>
                                <label>Description: <input type="text" name="description" required ngModel></label>     
                                            <br><br>
                                <input type="submit" value="Submit">
                            </body>
                    </form>
                </div>
            </ng-template>
            </ng-template>
        <!-- create post form  -->
    </div>
