<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>resource-update</title>
      </head>
<body>
    <div class="container">
        <div *ngIf="logInStatus; else notLoggedIn">
            <div style="text-align: right; display: flex; justify-content:space-between;">
    <p style="font-weight: bolder;">Welcome, {{currentUser}}!</p>
                <button (click)="logOut()"> Log Out?</button>
            </div>       
        </div>
        <ng-template #notLoggedIn>
            <p style="text-align: left;"><span><a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">
                Login</a></span> to <span style="font-family: impact; font-size: 15px;">rally!</span> your community</p>
        </ng-template>   
             <div id="list_head">
                    <p>Edit Resource: {{resource.resourceName}}</p> 
            </div>       
                <form #resourceForm="ngForm" (ngSubmit)="updateResource(resourceForm)">                 
                    <div class="row">
                            <div class="col-5">
                                <input type="hidden" id="id" name="resourceId" value="resource.id" ngModel>
                                
                                <label class = "form-label">resource</label><br>
                                <input class = "form-control form-control-lg" type="text" required [(ngModel)]="resource.resourceName" id="resourceName" name="resourceName" ngModel>
                                <br>
                                
                                <label class = "form-label">category</label><br>
                                    <select class = "form-select" id="category-drop" type = "category-drop" name="category" required [(ngModel)]="categoryModel.category" required [(ngModel)]="resource.category" >
                                        <option *ngFor="let c of categories" [value]="c">{{c}}</option>
                                    </select> 
                                <br>
                                <label class = "form-label">address</label><br>
                                <input class = "form-control form-control-lg" type="text" required [(ngModel)]=resource.address id="address" name="address" ngModel>
                                
                                <label class = "form-label">website</label><br>
                                <input class = "form-control form-control-lg" type="text" required [(ngModel)]="resource.website" id="website" name="website" ngModel>
                                
                                <label class = "form-label">telephone number</label><br>
                                <input class = "form-control form-control-lg" type="text" required [(ngModel)]=resource.telephoneNumber id="telephoneNumber" name="telephoneNumber" ngModel>
                                
                                <label class = "form-label">email</label><br>
                                <input class = "form-control form-control-lg" type="text" required [(ngModel)]=resource.email id="email" name="email" ngModel>
                            </div>
                        <div class = "col-2"></div>

                        <div class = "col-5">
                            <label class="form-label">description</label><br>
                            <textarea class = "form-control" rows="9" type="text" required [(ngModel)]=resource.description id=description name="description" ngModel></textarea>
                            <br>
                            <br>
                            <br>
                            <button [disabled]="resourceForm.invalid" type="edit" id="edit_btn">EDIT</button>
                            <br>
                                <div *ngIf="resourceForm.invalid && resourceForm.touched" class="alert alert-danger">Make sure you've filled out the whole form!
                                </div>
                        </div>
                    </div>   
            </form>
               
    </div>
</body>
</html>