#list_head {
    font-family:Oswald, sans-serif;
    text-align: left;
    font-size: 60px;
    color: black;
    font-weight: 700;
    }
    
    
    .myButton {
        background-color: #0EBB9A;
        display: internal;
        color:#ffffff;
        font-family: montserrat, sans-serif;
        font-size:30px;
        font-weight:bold;
        text-shadow: 0.5px 0.5px 0px #000;
        padding:15px 75px;
        text-decoration: none;
        float: right;
    }
    
    #resource_display1 {
        text-align: left;
        font-size: 35px;
        font-family: montserrat, sans-serif;
    }
    
    #resource_display2 {
        text-align: left;
        font-size: 35px;
        font-family: montserrat, sans-serif;
    }
    
    
    .button2 {
        background-color: #F9A605;
        color:#ffffff;
        font-family:montserrat, sans-serif;
        font-size:22px;
        font-weight:bold;
        text-shadow: 0.5px 0.5px 0px #000;
        padding:6px 24px;
        text-decoration:none;
        width: 50%;
        box-shadow: none;
    }
    
    .card-body {
        text-align: left;
        font-size: 28px;
        font-family: montserrat, sans-serif;
    }
    
    
    .card-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .btn {
        background-color: #fff;
        border-color:  #85CDE3;
        transition: all .7s;
        border-radius: 0;
    }
      .btn:hover {
        color: #fff;
        background-color:  #85CDE3;
        border-color:  #85CDE3;
    }
    
      .demo-inline-calendar-card {
        width: 300px;
    }