<!-- <div *ngIf="logInStatus; else notLoggedIn">
    
    <div style="text-align: right;">
        <p>Logged in as: {{currentUser}}  <button (click)="logOut()"> Log Out?</button></p>
    </div>
    


</div>
<ng-template #notLoggedIn>

    <p>User is not logged in. </p>
    <a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">Login</a>
</ng-template> -->

<body style="margin-top: 80px;">
    <div class="container" *ngIf="resourceDetails">        
        <br>
        <br>

        <div class="row">
            <div class="col-3">

            </div>
            <div class = "col-2">

            </div>
            <div class="col-7">
                <p style="text-align: left; font-size: 30px; font-family: oswald, sans-serif; font-weight: 800; margin-bottom: -15px;"> {{resourceDetails.resourceName}}</p>
                <hr style = "height:4px; color: black; background-color: black;"> 
            </div>
        </div>

        <div class='row'>
            <div class="col-3">
                <span>
                    <p id="resource_display">create this resource?</p>

                    <div class="card">
                        <div class="card-body">
                            <div class="d-grid gap-2">
                                <a routerLink="/update/{{resourceDetails.id}}" routerLinkActive="active" class="button2" style="background-color:#85CDE3; text-align:center;">update resource</a>
                                
                                <button type = "button" class="button2" (click) = "deleteResource()" style="background-color: #C03E24;">delete resource</button>
                            </div>
                        </div>
                    </div>

                </span>
                </div>

                <div class="col-2"></div>

                <div class="col-7">
                    <div id="details">
                        <br>
                        <p style="font-size: 15px; margin-top: -12px;">category: <span style="font-weight: bolder;">{{resourceDetails.category}}</span> </p>
                        <br>
                        <p style="font-size: 15px; font-style: italic; margin-top: 12px; ">website: <span style="font-weight: bolder;">{{resourceDetails.website}}</span></p>
                        <p style="font-size: 15px; font-style: italic; margin-top: 12px; ">email: <span style="font-weight: bolder;">{{resourceDetails.email}}</span></p>
                        <p style="font-size: 15px; font-style: italic; margin-top: 12px; ">phone: <span style="font-weight: bolder;">{{resourceDetails.telephoneNumber}}</span></p>
                        <br>
                        <p style="font-size: 20px; font-weight: bolder;">address:</p>
                        <p style="margin-top: -15px;">{{resourceDetails.address}}</p>                 
                        <p style="font-size: 20px; font-weight: bolder;">description:</p>
                        <p style="margin-top: -15px;">{{resourceDetails.description}}</p>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>

            </div>
        </div>
</body>