
<div *ngIf="logInStatus"> 
    <div style="text-align: right;">
        <button><a routerLink="/search" routerLinkActive="active">Search</a></button>
        <button (click)="logOut()">Log Out</button>
    </div>
</div>
<br>

<div class="row">
<div class="col-sm-3">
    <div class="card">
        <h4>Viewing {{ this?.viewUserName }}'s Profile</h4>
        <div class="card" style="align-content: center;" *ngIf="dbImage; else default">               
            <img [src]="dbImage" width="100%" height="auto">
        </div>
        <ng-template #default>
            <img src="/assets/user-profile-assets/profile-pic.gif" width="100%" height="auto">
        </ng-template>
        </div> 
    </div>
    <div class="col-sm-8 offset-md-1">
        <div class="card">
            <h4>Direct Messaging: <br>{{ viewUserName }}</h4>
                   
                <div class="scroll">
                    <form #dmMessageDetails="ngForm" (ngSubmit)="viewingUserSendDM(dmMessageDetails)">
                        <button (click)="displayConversation(userEntityInformation.viewUser)">View Message History</button>
                        <input type="submit" value="Send Message">
                        <br>
                        <ng-template #lengthError>
                            <h6>Minimum of 3 characters required.</h6>
                        </ng-template>
                        <br>
                        <h3>Message:</h3>
                        <textarea rows="3" cols="40" type="text" name="messageContent" ngModel></textarea>
                        <p>View most recent message below.</p><br>
                        <div style="text-align: right;">
                        </div>
                      </form>
                <table style="width: 100%;" *ngFor="let dm of conversation">
                    <br>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <td class="card">
                        <tr class="cell-sent-received">Sent: <br>{{dm.sentByUserName}}</tr> 
                    </td>
                    <td>
                        <tr class="thought">Message: <br>{{ dm.messageContent }}</tr> 
                    </td>
                    <td class="cell-sent-received">
                        <tr class="card">Recieved: <br>{{ dm.receivedByUserName}}</tr>
                    </td>
                    <br><br>
                </table>
            </div>
            
            </div>
        </div>
    </div>


<div class="row">
    <div class="col">
        <div class="card">
            <h2>UserDetails</h2>

            <div class="card">
                <br> 
                <label>First Name: <h4>{{ userEntityInformation?.viewUserInformation?.firstName }}</h4></label>
                <br>
                <label>Last Name: <h4>{{ userEntityInformation?.viewUserInformation?.lastName }}</h4></label>
                <br>
                <label>Neighborhood: <h4>{{ userEntityInformation?.viewUserInformation?.neighborhood }}</h4></label>
                <br>
                <label>City: <h4>{{ userEntityInformation?.viewUserInformation?.city }}</h4></label>
                <br>       
                <label>State: <h4>{{ userEntityInformation?.viewUserInformation?.state }}</h4></label>                     
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <h2>Post History</h2>
            <div class="scroll-posthistory">
            <ul *ngFor="let post of forumPost">
                <div class="card">                        
                    <h3><a routerLink='/forum/post/{{post.id}}' routerLinkActive="active">{{ post.title }}</a></h3>
                    <h6>{{ post.description }}</h6>
                </div>
            </ul>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <h2>Favorites</h2>
        </div>
    </div>
</div>