#list_head {
    font-family:Oswald, sans-serif;
    text-align: left;
    font-size: 60px;
    color: black;
    font-weight: 700;
}


.myButton {
    background-color: #0EBB9A;
	/* border-radius:7px; */
	display: internal;
	color:#ffffff;
	font-family: montserrat, sans-serif;
	font-size:30px;
	font-weight:bold;
    text-shadow: 0.5px 0.5px 0px #000;
	padding:15px 75px;
	text-decoration: none;
    float: right;
    
}

#event_display1 {
    text-align: left;
    font-size: 35px;
    font-family: montserrat, sans-serif;
}

#event_display2 {
text-align: left;
font-size: 35px;
font-family: montserrat, sans-serif;
}


.button2 {
  background-color: #F9A605;
  /* border-radius:6px;  */
  color:#ffffff;
  font-family: montserrat, sans-serif;
  font-size:20px;
  font-weight: 500;
  /* text-shadow: 0.5px 0.5px 0px #000; */
  padding:12px 12px;
  text-decoration:none;
  width: 150px;
  
}


#details {
    text-align: left;
    font-size: 25px;
    font-family: montserrat, sans-serif;
}



  .btn {
    background-color: #fff;
    border-color:  #85CDE3;
    transition: all .7s;
    border-radius: 0;
  }
  .btn:hover {
    color: #fff;
    background-color:  #85CDE3;
    border-color:  #85CDE3;
  }


 
