
<header>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white; border-bottom: 1px solid #000; padding: 15px;">
            <div class="container">
            <a class="navbar-brand" routerLink="/home" routerLinkActive="active" href="#">
                <img src="/assets/home-assets/rally_logo2.jpg" alt="" height="75" width="80">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container">
                    <ul class="nav justify-content-end" style="margin-right: 50px; font-family: 'Open Sans', sans-serif;">
                    <li class="nav-item"><a class="nav-link" routerLink="/events" routerLinkActive="active">EVENTS</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/forum" routerLinkActive="active">FORUMS</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/services" routerLinkActive="active">EATS</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/services" routerLinkActive="active">SERVICES</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/resources" routerLinkActive="active">RESOURCES</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/myProfile" routerLinkActive="active">MY PROFILE</a></li>
                    </ul>
                </div>    
                
                <div *ngIf="logInStatus; else notLoggedIn">
                    <button class="logOutButton" (click)="logOut()">LOG OUT</button>
                </div>

                    <ng-template #notLoggedIn>
                        <a routerLink="/login" routerLinkActive="active" class="logInButton">LOG IN</a>
                    </ng-template>
            </div>
            </div>
        </nav>
    </div>
  </header>



<!-- <body style="margin-top: 80px;"> -->
<body class="container" style="margin-top: 120px;">

    <!-- <div class="container" *ngIf="eventDetails"> -->
        <div  *ngIf="eventDetails">

        <div class="row">
            <div class="col">
                <p id="list_head">Rally Up!</p> 
            </div>
            <div class="col">
                <span>
                    <a *ngIf="!userJoined" routerLink="/join/{{eventDetails.id}}" routerLinkActive="active" class="myButton">JOIN EVENT</a>
                    <a *ngIf="userJoined" routerLink="/edit/join/{{eventDetails.id}}" routerLinkActive="active" class="myButton">UPDATE RSVP</a> 
                </span>
            </div>
        </div>
        <br>
        <br>
        <br>

        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-2">

            </div>
            <div class="col-7">
                <p style="text-align: left; font-size: 30px; font-family: 'Open Sans', sans-serif; font-weight: 800; margin-bottom: -15px;">
                    {{eventDetails.eventTitle}}<span style="font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 500; float: right; margin-bottom: -15px;">
                        {{eventDetails.datetime  |  date:'short'}}</span></p>
                <hr style="height:4px; color: black; background-color: black">
            </div>
        </div>
       
        <div class="row" >
            <div class="col-3">
                <p id="event_display1">location</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6235.150903512339!2d-90.2485586!3d38.612640850000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8b4f665510415%3A0x7045b7225c22f7c6!2sShaw%2C%20St.%20Louis%2C%20MO!5e0!3m2!1sen!2sus!4v1684598180204!5m2!1sen!2sus" 
                    width="300" 
                    height="400" 
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
                <p style="font-size: 15px; font-style:italic;">expand map to search event address</p>
            <br>
            <br>
            <br>

            <span>
                <p id="event_display2">comments</p>

                    <div class="card" *ngFor="let comment of commentDisplay">
                        <div class="card-body">
                            <div class="d-grid gap-2">
                                <p class="overflow-auto" style="font-family: montserrat, sans-serif; margin-top: -10px; margin-bottom: -10px; margin-left: -5px;">
                                    <span><img src="/assets/events-assets/megaphone-g2.jpg" height="30" width="30"></span> {{comment}}</p>
                            </div>
                        </div>
                    </div>
                    <p *ngIf="this.commentDisplay.length === 0" style="font-family: montserrat, sans-serif;">Sign up for this event to leave a comment!</p>




            </span>
        
            </div>

            <div class="col-2"></div>

            <div class="col-7">
                <div id="details">
                    <br>
                    <p style="font-size: 15px; margin-top: -12px;">category: <span style="font-weight: bolder;">{{eventDetails.eventCategory | uppercase}}</span> </p>
                    <div>
                        <img *ngIf="eventDetails.eventCategory === 'connect'" src="/assets/events-assets/connect.jpg" width="300" height="300">
                        <img *ngIf="eventDetails.eventCategory === 'learn'" src="/assets/events-assets/learn.jpg" width="300" height="300">
                        <img *ngIf="eventDetails.eventCategory === 'volunteer'" src="/assets/events-assets/volunteer.jpg" width="300">
                        <img *ngIf="eventDetails.eventCategory === 'donate'" src="/assets/events-assets/donate.jpg" width="300" height="300">
                        <img *ngIf="eventDetails.eventCategory === 'celebrate'" src="/assets/events-assets/celebrate.jpg" width="300" height="300">


                    </div>
                    <p style="font-size: 15px; font-style: italic; margin-top: 12px; ">hosted by: <span style="font-weight: bolder;">{{eventDetails.eventHost}} <span style="font-weight: lighter;">|</span> {{eventDetails.contactEmail}}</span><br>
                    
                    <span style="font-style: normal; font-weight: bold; color: #F9A605">
                    <ng-container *ngIf="this.numJoined > 0">
                        {{this.numJoined}} attending
                    </ng-container>
                    <ng-container *ngIf="this.numJoined === 0">
                        Be the first to sign up!
                    </ng-container>
                    </span>    
                
                    </p> 
                    <br>
                    <p style="font-family: 'Open Sans', sans-serif; font-size: 20px; font-weight: 700;">address: </p>
                    <p style="font-family: 'Open Sans', sans-serif; margin-top: -15px;">{{eventDetails.eventAddress}}</p>
                    <br>
                    <p style="font-size: 20px; font-weight: 700;">description:</p>
                    <p style="margin-top: -15px;">{{eventDetails.description}}</p> 
                    <br> 
                    <a *ngIf="this.currentUser === eventDetails.userName" 
                    routerLink="/edit/{{eventDetails.id}}" routerLinkActive="active" class="btn btn-outline-info btn-xm" style="font-size: 20px; font-weight: 500;">update event</a>

                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</body>
