<!-- <div *ngIf="logInStatus; else notLoggedIn">
    
    <div style="text-align: right;  display: flex; justify-content:space-between;">
        <p style="font-weight: bolder;">Welcome, {{currentUser}}!</p>
        <button (click)="logOut()"> Log Out?</button>
    </div>
   
</div>
<ng-template #notLoggedIn>
    <p style="text-align: left; display: flex; justify-content: space-between;">Log in to rally your community!</p>
    <a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">Login</a>
</ng-template> -->




<!-- <div *ngIf="logInStatus; else notLoggedIn">
    
    <div style="text-align: right;  display: flex; justify-content:space-between;">
        <p style="font-weight: bolder;">Welcome, {{currentUser}}!</p>
        <button (click)="logOut()"> Log Out?</button>
    </div>
   

</div> -->

<!-- <div *ngIf="logInStatus; else notLoggedIn">
    
    <div>
        <br>
        <br>
        <p style="font-size: 15px; font-weight: bolder;">Welcome, {{currentUser}}!</p>
        <button class="" (click)="logOut()"> Log Out?</button>
    </div>
   

</div>


<ng-template #notLoggedIn>
    <p style="text-align: left;"><span><a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">Login</a></span> to <span style="font-family: impact; font-size: 15px;">rally!</span> your community</p>
</ng-template> -->


<div class="container" *ngIf="logInStatus">
    
    <div>
        <br>
        <br>
        <p style="margin-top: 15px; font-size: 18px; font-weight: bolder;">Welcome, {{currentUser}}!</p>
        <!-- <button class="btn btn-light"  (click)="logOut()">Log Out?</button> -->
    </div>

</div>


<!-- <ng-template #notLoggedIn>
    <div class="container">
        <br>
        <br>
        <p style="margin-top: 15px; font-size: 18px;"><span><a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">Log in</a></span> to <span style="font-family: impact; font-size: 18px;">rally!</span> your community</p>
    </div>
</ng-template> -->









<!-- <body style="margin-top: 80px;"> -->
<body style="margin-top: 120px;">

    <div class="container" *ngIf="eventDetails">

        <div class="row">
            <div class="col">
                <p id="list_head">Rally Up!</p> 
            </div>
            <div class="col">
                <span>
                    <!-- <a href="http://localhost:4200/join/" class="myButton">JOIN EVENT</a> -->
                    <a routerLink="/join/{{eventDetails.id}}" routerLinkActive="active" class="myButton">JOIN EVENT</a> 
                </span>
            </div>
        </div>
        <br>
        <br>
        <br>
        <!-- <br> -->

        <!-- <div class="row">
            <div class="col">
                <a href="http://localhost:4200/join/" class="myButton">JOIN</a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br> -->

        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-2">

            </div>
            <div class="col-7">
                <p style="text-align: left; font-size: 30px; ; font-family: Oswald, sans-serif; font-weight: 800; margin-bottom: -15px;">{{eventDetails.eventTitle}}<span style="font-family: oswald, sans-serif; font-size: 30px; font-weight: 700; float: right; margin-bottom: -15px;">{{eventDetails.datetime  |  date:'short'}}</span></p>
                <hr style="height:4px; color: black; background-color: black">
            </div>
        </div>
       
        <div class="row" >
            <div class="col-3">
                <p id="event_display1">location</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6235.150903512339!2d-90.2485586!3d38.612640850000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8b4f665510415%3A0x7045b7225c22f7c6!2sShaw%2C%20St.%20Louis%2C%20MO!5e0!3m2!1sen!2sus!4v1684598180204!5m2!1sen!2sus" 
                    width="300" 
                    height="400" 
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
                <!-- <iframe
                    width="300"
                    height="400"
                    frameborder="0" style="border:0"
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/search?key=MYKEYHERE&q=shaw+neighborhood+st+louis+mo"
                    allowfullscreen>
                </iframe> -->
                <!-- <iframe
                width="300"
                height="400"
                frameborder="0" style="border:0"
                referrerpolicy="no-referrer-when-downgrade"
                [src]='mapUrl'
                allowfullscreen>
            </iframe> -->
                <p style="font-size: 15px; font-style:italic;">expand map to search event address</p>
            <br>
            <br>
            <!-- <br> -->

            <!-- <span class="col d-flex justify-content-center">
                <div class="card" style="width: 10rem; display: center; background-color: #85CDE3; color: white;">
                <p style="text-align: center; font-family: Oswald, sans-serif; font-size: 75px; font-weight: 800; margin-bottom: -10px;">{{this.numJoined}}</p>
                    <div class="card-footer">
                        <p style="text-align: center; font-size: 20px;">signed up</p>
                    </div>
                </div>
            </span> -->
            <!-- <br>
            <br>
            <br> -->


            <span>
                <p id="event_display2">comments</p>

                    <div class="card" *ngFor="let comment of commentDisplay">
                        <div class="card-body">
                            <div class="d-grid gap-2">
                                <p class="overflow-auto" style="font-family: montserrat, sans-serif; margin-top: -10px; margin-bottom: -10px; margin-left: -5px;">
                                    <span><img src="/assets/events-assets/megaphone-g2.jpg" height="30" width="30"></span> {{comment}}</p>
                            </div>
                        </div>
                    </div>

                <!-- <a routerLink="/edit/{{eventDetails.id}}" routerLinkActive="active" class="button2" style="background-color: #85CDE3; text-align:center;">edit event</a> 
                           
                <button type="button" class="button2" (click)="deleteEvent()" style="background-color: #C03E24;">delete event</button> -->

            </span>
        
            <!-- <span>
                <p id="event_display2">create this event?</p>

                <div class="card">
                    <div class="card-body">
                        <div class="d-grid gap-2">
                            <a routerLink="/edit/{{eventDetails.id}}" routerLinkActive="active" class="button2" style="background-color: #85CDE3; text-align:center;">edit event</a> 
                           
                            <button type="button" class="button2" (click)="deleteEvent()" style="background-color: #C03E24;">delete event</button>
                          </div>
                    </div>
                </div>

            </span> -->
            </div>

            <div class="col-2"></div>

            <div class="col-7">
                <div id="details">
                    <br>
                    <p style="font-size: 15px; margin-top: -12px;">category: <span style="font-weight: bolder;">{{eventDetails.eventCategory | uppercase}}</span> </p>
                    <div>
                        <img *ngIf="eventDetails.eventCategory === 'connect'" src="/assets/events-assets/connect.jpg" width="300" height="300">
                        <img *ngIf="eventDetails.eventCategory === 'learn'" src="/assets/events-assets/learn.jpg" width="300" height="300">
                        <img *ngIf="eventDetails.eventCategory === 'volunteer'" src="/assets/events-assets/volunteer.jpg" width="300">
                        <img *ngIf="eventDetails.eventCategory === 'donate'" src="/assets/events-assets/donate.jpg" width="300" height="300">
                        <img *ngIf="eventDetails.eventCategory === 'celebrate'" src="/assets/events-assets/celebrate.jpg" width="300" height="300">

                        <!-- <span style="float: right;">
                            <div class="card" style="width: 8rem; display: center; background-color:#f6f4f3">
                            <p style="text-align: center; font-family: Oswald, sans-serif; font-size: 75px; font-weight: 800; margin-bottom: -10px;">{{this.numJoined}}</p>
                                <div class="card-footer" style="background-color: #f6f4f3;">
                                    <p style="text-align: center; font-size: 18px; font-family: montserrat, sans-serif;">signed up</p>
                                </div>
                            </div>
                        </span> -->

                    </div>
                    <!-- <br> -->
                    <p style="font-size: 15px; font-style: italic; margin-top: 12px; ">hosted by: <span style="font-weight: bolder;">{{eventDetails.eventHost}} <span style="font-weight: lighter;">|</span> {{eventDetails.contactEmail}}</span><br>
                    
                    <span style="font-style: normal; font-weight: bold; color: #F9A605">
                    <ng-container *ngIf="this.numJoined > 0">
                        {{this.numJoined}} attending
                    </ng-container>
                    <ng-container *ngIf="this.numJoined === 0">
                        Be the first to sign up!
                    </ng-container>
                    </span>    
                
                    </p> 
                    <br>
                    <p style="font-size: 20px; font-weight: bolder;">address: </p>
                    <p style="margin-top: -15px;">{{eventDetails.eventAddress}}</p>
                    <br>
                    <p style="font-size: 20px; font-weight: bolder;">description:</p>
                    <p style="margin-top: -15px;">{{eventDetails.description}}</p> 
                    <br> 
                    <!-- <br> -->


                    <!-- <ng-container *ngIf="{{currentUser}} === {{eventDetails.eventHost}}"> -->
                        <!-- <div style="float: left">
                        <a routerLink="/edit/{{eventDetails.id}}" routerLinkActive="active" class="button2" style="background-color: #85CDE3; color: white;">edit event</a> 
                        <br>     
                        <button type="button" class="button2" style="margin-top: 10px; background-color: #C03E24" (click)="deleteEvent()">delete event</button>
                        </div> -->
                        <div style="float: left">
                            <a routerLink="/edit/{{eventDetails.id}}" routerLinkActive="active" class="btn btn-link" style="color: #85CDE3;">EDIT EVENT</a> 
                            <br>     
                            <button type="button" class="btn btn-link" style="color: #C03E24" (click)="deleteEvent()">DELETE EVENT</button>
                            </div>
                    <!-- </ng-container> -->

                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</body>
