.form {
    font-family: Impact, sans-serif; 
    color: #0EBB9A;
    font-size: 20px;
    margin: auto;
    width: 50%;
    text-align: center;

}

.form1 {
    font-size: 13px;
    text-align: center;
    color: #F9A605;
}

.submit {
    color:  white;
    background-color:  #0EBB9A;
}