.form {
    font-family: Impact, sans-serif; 
    color: #0EBB9A;
    font-size: 20px;
    margin: auto;
    width: 50%;
    text-align: center;
    text-shadow: 1px 1px black;
    font-family: Impact
}

.form1 {
    font-size: 13px;
    text-align: center;
    color: #F9A605;
}

.submit {
    color:  white;
    background-color:  #0EBB9A;
    border-radius: 12px;
}
/* body {
    background-image: url('https://www.fourseasons.com/alt/img-opt/~80.1860.0,0000-100,5120-3000,0000-1687,5000/publish/content/dam/fourseasons/images/web/STL/STL_952_original.jpg');
}  */


body {
    color: white;
    /* background-color: #333; */
    font-size: 150%;
    /* font-family: 'Satisfy'; */
    /* margin: 5em 25%; */
    /* background-image: linear-gradient(to bottom right, , white); */
    /* background-image: radial-gradient(circle, #0EBB9A,white); */
    /* background: -webkit-gradient(radial, from(white), to(#0EBB9A)); */
    background: radial-gradient(circle at 50% 50%, rgba(14, 187, 154, 1) 0%, rgba(14, 187, 154, 0.61) 19%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 84%, rgba(255, 255, 255, 1) 85%);
    
 }