<!-- Log Out and Search Nav bar  -->
    <div style="text-align: right;">
        <button style="background-color: #85CDE3;" ><a routerLink="/search" routerLinkActive="active">Search</a></button>
        <button style="background-color: #85CDE3;" (click)="logOut()">Log Out</button>
    </div>
<br>


<!-- First Row in User Profile -->
<!-- First Row in User Profile -->
<!-- First Row in User Profile -->
<div class="row" >


<!-- User Profile Picture -->
<!-- User Profile Picture -->
<!-- User Profile Picture -->
<div class="col-3">
    <div class="card" style="background-color: #0EBB9A;">
        <h4>Hello<br>{{currentUser}}</h4>
        <!-- Display current profile picture -->
        <div class="card" style="align-content: center;" *ngIf="dbImage; else default">               
            <img [src]="dbImage" width="100%" height="auto">
        </div>
        <!-- Default profile picture if no picture has been uploaded -->
        <ng-template #default>
            <img src="/assets/user-profile-assets/profile-pic.gif" width="100%" height="auto">
        </ng-template>
        <!-- Button to show upload options for user -->
        <div *ngIf="changeProfilePic; else changePic">
            <button style="background-color:  #85CDE3;" (click)="changeProfilePic=false">Update Profile Picture</button>
        </div>
        <!-- Upload options -->
        <ng-template #changePic>
            <button style="background-color: #85CDE3;" (click)="changeProfilePic=true">Cancel</button>
            <form>
            <div class="form-group">
                <input type="file" (change)="onImageUpload($event)">
                <div *ngIf="uploadErrorMsg">
                    <p style="color: crimson;">{{ uploadErrorMsg[0] }}</p>
                </div>
                <input style="background-color:  #85CDE3;" type="button" value="upload" (click)="imageUploadAction()">
            </div>
            </form>
        </ng-template>
    </div>
</div>


<!-- User Direct Messaging service -->
<!-- User Direct Messaging service -->
<!-- User Direct Messaging service -->
<div class="col-9">
    <div class="card" style="background-color: #0EBB9A;">
        <!-- Banner that changes based on who your messaging at the top -->
        <h4 *ngIf="userDms; else differentTitle">View your messages</h4>
        <ng-template #differentTitle>
            <h4>Direct Messaging {{ respondToDm.userName }} </h4>
        </ng-template>
        <!-- Flex box to display user conversations -->
        <div class="card" >
            <!-- Display the users with message history -->
            <div class="scroll" *ngIf="userDms; else showConversations">
            <ul *ngFor="let user of userEntityDmList">
                <div class="card" style="background-color: #F9A605">
                <h6 style="text-align: left;" (click)="displayConversation(user)">{{ user.userName }}</h6>
                </div>
            </ul>
            </div>
            <!-- When user name is selected, displays that particular conversation -->
            <ng-template #showConversations>
                <div class="scroll" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                    <!-- Display the message history -->
                    <table style="width: 100%;" *ngFor="let dm of conversation">
                        <br>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <td>
                            <tr class="card" style="background-color: #F9A605">Sent: <br>{{dm.sentByUserName}}</tr> 
                        </td>
                        <td>
                            <tr class="thought">Message: <br>{{ dm.messageContent }}</tr> 
                        </td>
                        <td>
                            <tr class="card" style="background-color: #F9A605">Recieved: <br>{{ dm.receivedByUserName}}</tr>
                        </td>
                        <br>
                    </table>
                    <!-- Respond to messages -->
                    <form #respondToDm="ngForm" (ngSubmit)="respondToUserDm(respondToDm)">
                        <div class="card" style="align-items: center; background-color: rgb(126, 161, 154);">
                        <ng-template #lengthError>
                        <h6 style="color: rgb(165, 35, 61);">Minimum of 3 characters required.</h6>
                        </ng-template>
                        <h3>Respond:</h3>
                        <textarea rows="3" cols="40" name="messageContent" minlength="10" [(ngModel)]="commentBox"></textarea>
                        <div *ngIf="noError; else lengthError"></div>
                        <input style="background-color: #85CDE3;" type="submit" value="Send Message">    
                        <button style="background-color: #85CDE3;" (click)="userDms=true">Return to all Messages</button>
                    </div>
                    </form>
                </div>   
            </ng-template>
        </div>
    </div>
</div>

<!-- End of First row in User Profile -->
</div>



<!-- Second Row in User Profile -->
<!-- Second Row in User Profile -->
<!-- Second Row in User Profile -->
<div class="row">


<!-- User Information -->
<!-- User Information -->
<!-- User Information -->
<div class="col-3">
    <div class="card" style="background-color: #0EBB9A;">
        <h4>{{ userEntity?.userName }}'s<br>Information</h4>
        <div *ngIf="changeInfo; else changeForm"> 
        <!-- Display user Information -->
        <div class="card">
            <br> 
            <label>First Name:<br><h4>{{ userInformation?.firstName }}</h4></label>
            <br>
            <label>Last Name:<br><h4>{{ userInformation?.lastName}}</h4></label>
            <br>
            <label>Neigborhood:<br><h4>{{ userInformation?.neighborhood}}</h4></label>
            <br>
            <label>City:<br><h4>{{ userInformation?.city}}</h4></label>
            <br>       
            <label>State:<br><h4>{{ userInformation?.state}}</h4></label>  
            <br>
            <button style="background-color: #85CDE3;" (click)="editProfileDetails()">Edit Profile Details</button>                   
        </div>
        </div>
        <!-- Form to change/update user information -->
        <ng-template #changeForm>
        <div class="form-group: card" style="background-color: #ecdfc3;"> 
            <form #userDetails="ngForm" (ngSubmit)="updateUserInfo(userDetails)">
            <br><br>
            <label for="firstName">First Name:<br>
            <input type="text" id="firstName" name="firstName" placeholder={{userInformation?.firstName}} [(ngModel)]="model.firstName" #firstName="ngModel"></label>
            <br><br>
            <label for="lastName">Last Name:<br>
            <input type="text" name="lastName" id="lastName" placeholder={{userInformation?.lastName}} [(ngModel)]="model.lastName" #lastName="ngModel"></label>                
            <br><br>
            <label for="category-drop">Neighborhood:</label><br>
            <select name="neighborhood" id="category-drop" [(ngModel)]="model.neigborhood" #neigborhood="ngModel">
                <option value="" disabled selected>Select your neighborhood</option>
                <option value="Compton Heights">Compton Heights</option>
                <option value="Central West End">Central West End</option>
                <option value="The Hill">The Hill</option>
                <option value="Soulard">Soulard</option>
                <option value="Bevo">Bevo</option>
                <option value="Gravois Park">Gravois Park</option>
                <option value="Tower Grove South">Tower Grove South</option>
                <option value="Downtown">Down Town</option>
                <option value="Midtown">Midtown</option>
            </select>
            <br><br>
            <label for="category-drop">City:</label><br>
            <select name="city" id="category-drop" [(ngModel)]="model.city" #city="ngModel">
                <option value="" disabled selected>Select your city</option>
                <option value="Saint Louis">Saint Louis</option>
                <option value="Jennings">Jennings</option>
                <option value="Clayton">Clayton</option>
                <option value="University City">University City</option>
                <option value="Affton">Affton</option>
                <option value="Ferguson">Ferguson</option>
            </select> 
            <br><br>
            <label for="category-drop">State:</label><br>
            <select name="state" id="category-drop" [(ngModel)]="model.state" #state="ngModel">
                <option value="" disabled selected>Select your state</option>
                <option value="Missouri">Missouri</option>
                <option value="Illinois">Illinois</option>
            </select>
            <br><br>
            <input style="background-color: #85CDE3;" type="submit" value="Submit">
            <button style="background-color: #85CDE3;" (click)="changeInfo=true">Back</button>
            </form>
            </div>
        </ng-template>
    </div>
</div>
    

<!-- User Post History Section -->
<!-- User Post History Section -->
<!-- User Post History Section -->
<div class="col-6">
    <div class="card" style="background-color: #0EBB9A;">
        <h2>Post History</h2>
        <div class="card">     
            <div class="scroll-posthistory">
            <div *ngIf="this?.allPost.length === 0"><h3 style="color: #ffffff;">User Does not have any post history</h3></div>
            <!-- Filter to display posts of a specific type -->
            <div>
                <label >Show Forum Post: <input type="checkbox" name="ForumPost" (change)="userPostHistoryFilter($event)"></label>
                <label >Show Event Post: <input type="checkbox" name="Event" (change)="userPostHistoryFilter($event)" ></label>
                <label >Show Forum Replies: <input type="checkbox" name="ForumReply" (change)="userPostHistoryFilter($event)"></label>
            </div>
            <!-- Display all posts of all types that user has -->
            <ul *ngFor="let post of this.allPost">
            <div class="card" style="background-color: #ecdfc3;">
                <!-- Display ForumPost objects -->
                <div *ngIf="post.type === 'ForumPost'">
                    <div *ngIf="post.hidden === false; else hiddenPost">
                    <div class="card" style="background-color: #F9A605"><h6>{{ post.type }}</h6></div>
                    <h3><a routerLink='/forum/post/{{post.id}}' routerLinkActive="active">{{ post.title }}</a></h3>
                    <h6>{{ post.description }}</h6>
                    <div style="text-align: left;"><button style="background-color: #85CDE3;" type="button" (click)="hidePost(post)" >Hide this Post</button></div>
                    </div>
                <ng-template #hiddenPost>
                    <div class="card"  style="background-color: #F9A605"><h6>{{ post.type }}</h6></div>
                    <h3><a routerLink='/forum/post/{{post.id}}' routerLinkActive="active">{{ post.title }}</a></h3>
                    <h6>{{ post.description }}</h6>
                    <div style="text-align: left;"><button style="background-color: #85CDE3;" type="button" (click)="unhidePost(post)">Unhide Post?</button>
                    <p>This post is hidden.</p>
                    </div>
                </ng-template>
                </div>
                <!-- Display ForumReply objects -->
                <!-- *Undecided: If ForumReply should be viewable with posts or have its own section* -->
                <div *ngIf="post.type === 'ForumReply'">
                    <div *ngIf="post.hidden === false; else hiddenPost">
                    <div class="card"  style="background-color: #F9A605"><h6>{{ post.type }}</h6></div>
                    <h3><a routerLink='/forum/post/{{post.id}}' routerLinkActive="active">{{ post.title }}</a></h3>
                    <h6>{{ post.description }}</h6>
                    <!-- <div style="text-align: left;"><button type="button" (click)="hidePost(post)" >Hide this Post</button></div> -->
                    </div>
                <ng-template #hiddenPost>
                    <div class="card" style="background-color: #F9A605"><h6>{{ post.type }}</h6></div>
                    <h3><a routerLink='/forum/post/{{post.id}}' routerLinkActive="active">{{ post.title }}</a></h3>
                    <h6>{{ post.description }}</h6>
                    <!-- <div style="text-align: left;"><button type="button" (click)="unhidePost(post)">Unhide Post?</button> -->
                    <p>This post is hidden.</p>
                    <!-- </div> -->
                </ng-template>
                </div>
                <!-- Display Event objects -->
                <div *ngIf="post.type === 'Event'">
                    <div *ngIf="post.hidden === false; else hiddenPost">
                    <div class="card" style="background-color: #F9A605"><h6>{{ post.type }}</h6></div>
                    <h3><a>{{ post.title }}</a></h3>
                    <h6>{{ post.description }}</h6>
                    <div style="text-align: left;"><button style="background-color: #85CDE3;" type="button" (click)="hidePost(post)" >Hide this Post</button></div>
                    </div>
                <ng-template #hiddenPost>
                    <div class="card" style="background-color: #F9A605"><h6>{{ post.type }}</h6></div>
                    <h3>{{ post.title }}</h3> <a routerLink='/forum/post/{{post.id}}' routerLinkActive="active"></a>
                    <h6>{{ post.description }}</h6>
                    <div style="text-align: left;"><button style="background-color: #85CDE3;" type="button" (click)="unhidePost(post)">Unhide Post?</button>
                    <p>This post is hidden.</p>
                    </div>
                </ng-template>
                </div>
            </div>
            </ul>
            </div>
        </div>
    </div>
</div>


<!-- User Profile Favorite Section -->
<!-- User Profile Favorite Section -->
<!-- User Profile Favorite Section -->
<div class="col-3">
    <div class="card" style="background-color: #0EBB9A;">
        <h2>Favorites</h2>
    </div>
</div>


<!-- End of 2nd row on User Profile -->
</div>