
/* 
  div.parent {
    position: relative;
    height: 200vh;
  }

  div.head-row {
    position: absolute;
    background-color: #cce0df;
  } */

  div.scroll {
    column-width: auto;
    height: 300px;
    overflow: auto;
    resize: vertical;
    text-align: center;
    padding: 8px;
  }

  div.scroll-posthistory {
    column-width: auto;
    height: auto;
    overflow: auto;
    resize: vertical;
    text-align: center;
    padding: 8px;
  }

.thought {
  display:flex;
  background-color:#e6e0cc;
  padding:20px;
  border-radius:30px;
  min-width:200px;
  max-width:700px;
  min-height:40px;
  margin:auto;
  position:relative;
  align-items:center;
  justify-content:center;
  text-align:center;
}
