
<div *ngIf="logInStatus; else notLoggedIn"> 
    <div style="text-align: right;">
        <button><a routerLink="/search" routerLinkActive="active">Search</a></button>
        <button (click)="logOut()">Log Out</button>
    </div>
</div>
<br>

<div class="row">


<div class="col-sm-3 p-1 boarder">
    <div class="card">
        <div class="profilepic">
        <h4>Hello<br>{{currentUser}}</h4>
        <div class="card">
            <div style="align-content: center;">
            <img src="/assets/user-profile-assets/profile-pic.gif" width="200" height="200">
            </div>

            <!-- Image testing -->
            <!-- Image testing -->
            <!-- Image testing -->
            <form>
                <div class="form-group">
                    <input type="file" (change)="onImageUpload($event)">
                    <input type="button" value="upload" (click)="imageUploadAction()">
                </div>

                <div class="form-group">
                    <input type="text" id="image" placeholder="Search Image" [(ngModel)]="image" name="image" />
                    <input type="button" (click)="viewImage()" value="View Image" class="btn1">
                </div>

                <div *ngIf=dbImage>
                    <img [src]="dbImage" width="200px" height="200px">
                </div>
            </form>


        </div>
        </div> 
    </div>
</div>


<div class="col-sm-8  offset-md-1">
        <div class="card">
            <h4 *ngIf="userDms; else differentTitle">View your messages</h4>
            <ng-template #differentTitle>
                <h4>Direct Messaging {{ respondToDm.userName }} </h4>
            </ng-template>
            <div class="card">

                <div class="scroll" *ngIf="userDms; else showConversations">
                <ul *ngFor="let user of userEntityDmList">
                    <div class="card">
                        <p (click)="displayConversation(user)">{{ user.userName }}</p>
                    </div>
                </ul>
                </div>

                <ng-template #showConversations>
                    <div class="scroll">
                        <form #respondToDm="ngForm" (ngSubmit)="respondToUserDm(respondToDm)">

                            <button (click)="reload()">Return to all Messages</button>
                            
                            <input type="submit" value="Send Message">
                            <br>                                  
                            <ng-template #lengthError>
                                <h6>Minimum of 3 characters required.</h6>
                            </ng-template>
                            <br>
                            <div *ngIf="noError; else lengthError">
                            </div>
                            <h3>Message:</h3>
                            <textarea rows="3" cols="40" type="text" name="messageContent" minlength="10" ngModel></textarea>
                            <p>View most recent message below.</p><br>                         
                        </form>
                        <table style="width: 100%;" *ngFor="let dm of conversation">
                            <br>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <td class="card">
                                <tr class="cell-sent-received">Sent: <br>{{dm.sentByUserName}}</tr> 
                            </td>
                            <td>
                                <tr class="thought">Message: <br>{{ dm.messageContent }}</tr> 
                            </td>
                            <td class="cell-sent-received">
                                <tr class="card">Recieved: <br>{{ dm.receivedByUserName}}</tr>
                            </td>
                            <br><br>
                        </table>
                        <br><br>
                        <h3 class="card">End of Messages</h3>
                        <button (click)="reload()">Return to all Messages</button>
                    </div>
                    
                </ng-template> 
                
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col" class="col-sm-3 p-1 boarder">
        <div class="card">
            <h4>{{ userEntity?.userName }}'s<br>Information</h4>
            <div *ngIf="changeInfo; else changeForm"> 
            <div class="card">
                <br> 
                <label>First Name:<br>{{ userInformation?.firstName }}</label>
                <br>
                <label>Last Name:<br>{{ userInformation?.lastName}}</label>
                <br>
                <label>Neigborhood:<br>{{ userInformation?.neigborhood}}</label>
                <br>
                <label>City:<br>{{ userInformation?.city}}</label>
                <br>       
                <label>State:<br>{{ userInformation?.state}}</label>  
                <br>
                <button (click)="editProfileDetails()">Edit Profile Details</button>                   
            </div>
            </div>
            <ng-template #changeForm>
            <div class="form-group: card"> 
              <form #userDetails="ngForm" (ngSubmit)="updateUserInfo(userDetails)">
                <br><br>
                <label for="firstName">First Name:<br>
                <input type="text" id="firstName" name="firstName" placeholder={{userInformation?.firstName}} [(ngModel)]="model.firstName" #firstName="ngModel"></label>
                <br><br>
                <label for="lastName">Last Name:<br>
                <input type="text" name="lastName" id="lastName" placeholder={{userInformation?.lastName}} [(ngModel)]="model.lastName" #lastName="ngModel"></label>                
                <br><br>
                <label for="neigborhood">Neigborhood:<br>
                <input type="text" name="neigborhood" id="neigborhood" placeholder={{userInformation?.neigborhood}} [(ngModel)]="model.neigborhood" #neigborhood="ngModel"></label>
                <br><br>
                <label for="city">City:<br>
                <input type="text" name="city" id="city" placeholder={{userInformation?.city}} [(ngModel)]="model.city" #city="ngModel"></label>                
                <br><br>
                <label for="state">State:<br>
                <input type="text" name="state" id="state" placeholder={{userInformation?.state}} [(ngModel)]="model.state" #state="ngModel"></label>                
                <br><br>
                <input type="submit" value="Submit">
              </form>
              <input (click)="changeInfo=true" type="button" value="Back">
              </div>
            </ng-template>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <h2>Post History</h2>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <h2>Favorites</h2>
        </div>
    </div>
</div>



<!-- Might not need this section of code -->
<ng-template #notLoggedIn>

    <h2>User Profile</h2>

    <p>User is not logged in.</p>
    <a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">Login</a>
</ng-template>