
<div *ngIf="logInStatus; else notLoggedIn"> 
    <div style="text-align: right;">
        <button><a routerLink="/search" routerLinkActive="active">Search</a></button>
        <button (click)="logOut()">Log Out</button>
    </div>
</div>
<br>

<div class="row">
<div class="col-sm-3 p-1 boarder">
    <div class="card">
        <div class="profilepic">
        <h4>Hello<br>{{currentUser}}</h4>
        <div class="card">
            <div style="align-content: center;" *ngIf="dbImage; else default">               
                <img [src]="dbImage" width="100%" height="auto">
            </div>
            <ng-template #default>
                <img src="/assets/user-profile-assets/profile-pic.gif" width="100%" height="auto">
            </ng-template>
            <div *ngIf="changeProfilePic; else changePic">
                <button (click)="changeProfilePic=false">Update Profile Picture</button>
            </div>
            <ng-template #changePic>
                <button (click)="changeProfilePic=true">Cancel</button>
            <form>
                <div class="form-group">
                    <input type="file" (change)="onImageUpload($event)">

                    <div *ngIf="uploadErrorMsg">
                        <p style="color: crimson;">{{ uploadErrorMsg[0] }}</p>
                    </div>

                    <input type="button" value="upload" (click)="imageUploadAction()">
                </div>
                <!-- <div class="form-group">
                    <input type="text" id="image" placeholder="Search Image" [(ngModel)]="image" name="image" />
                    <input type="button" (click)="viewImage()" value="View Image" class="btn1">
                </div> -->
            </form>
            </ng-template>
        </div>
        </div> 
    </div>
</div>


<div class="col-sm-8  offset-md-1">
        <div class="card">
            <h4 *ngIf="userDms; else differentTitle">View your messages</h4>
            <ng-template #differentTitle>
                <h4>Direct Messaging {{ respondToDm.userName }} </h4>
            </ng-template>
            <div class="card">

                <div class="scroll" *ngIf="userDms; else showConversations">
                <ul *ngFor="let user of userEntityDmList">
                    <div class="card">
                        <h6 style="text-align: left;" (click)="displayConversation(user)">{{ user.userName }}</h6>
                    </div>
                </ul>
                </div>

                <ng-template #showConversations>
                    <div class="scroll" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                        
                        <table style="width: 100%;" *ngFor="let dm of conversation">
                            <br>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <td class="card">
                                <tr class="cell-sent-received">Sent: <br>{{dm.sentByUserName}}</tr> 
                            </td>
                            <td>
                                <tr class="thought">Message: <br>{{ dm.messageContent }}</tr> 
                            </td>
                            <td class="cell-sent-received">
                                <tr class="card">Recieved: <br>{{ dm.receivedByUserName}}</tr>
                            </td>
                            <br>
                        </table>
                        <form #respondToDm="ngForm" (ngSubmit)="respondToUserDm(respondToDm)">
                            <div class="card" style="align-items: center; background-color: rgb(153, 162, 175);">
                            <ng-template #lengthError>
                            <h6 style="color: rgb(165, 35, 61);">Minimum of 3 characters required.</h6>
                            </ng-template>
                            <h3>Respond:</h3>
                            <textarea rows="3" cols="40" name="messageContent" minlength="10" [(ngModel)]="commentBox"></textarea>
                            <div *ngIf="noError; else lengthError"></div>
                            <input type="submit" value="Send Message">    
                            <button (click)="userDms=true">Return to all Messages</button>
                        </div>
                        </form>
                    </div>   
                </ng-template>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col" class="col-sm-3 p-1 boarder">
        <div class="card">
            <h4>{{ userEntity?.userName }}'s<br>Information</h4>
            <div *ngIf="changeInfo; else changeForm"> 
            <div class="card">
                <br> 
                <label>First Name:<br><h4>{{ userInformation?.firstName }}</h4></label>
                <br>
                <label>Last Name:<br><h4>{{ userInformation?.lastName}}</h4></label>
                <br>
                <label>Neigborhood:<br><h4>{{ userInformation?.neighborhood}}</h4></label>
                <br>
                <label>City:<br><h4>{{ userInformation?.city}}</h4></label>
                <br>       
                <label>State:<br><h4>{{ userInformation?.state}}</h4></label>  
                <br>
                <button (click)="editProfileDetails()">Edit Profile Details</button>                   
            </div>
            </div>
            <ng-template #changeForm>
            <div class="form-group: card"> 
              <form #userDetails="ngForm" (ngSubmit)="updateUserInfo(userDetails)">
                <br><br>
                <label for="firstName">First Name:<br>
                <input type="text" id="firstName" name="firstName" placeholder={{userInformation?.firstName}} [(ngModel)]="model.firstName" #firstName="ngModel"></label>
                <br><br>
                <label for="lastName">Last Name:<br>
                <input type="text" name="lastName" id="lastName" placeholder={{userInformation?.lastName}} [(ngModel)]="model.lastName" #lastName="ngModel"></label>                
                <br><br>
                <label for="neighborhood">Neighborhood:<br>
                <input type="text" name="neighborhood" id="neighborhood" placeholder={{userInformation?.neighborhood}} [(ngModel)]="model.neigborhood" #neigborhood="ngModel"></label>
                <br><br>
                <label for="city">City:<br>
                <input type="text" name="city" id="city" placeholder={{userInformation?.city}} [(ngModel)]="model.city" #city="ngModel"></label>                
                <br><br>
                <label for="state">State:<br>
                <input type="text" name="state" id="state" placeholder={{userInformation?.state}} [(ngModel)]="model.state" #state="ngModel"></label>                
                <br><br>
                <input type="submit" value="Submit">
              </form>
              <input (click)="changeInfo=true" type="button" value="Back">
              </div>
            </ng-template>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <h2>Post History</h2>
            <div class="scroll-posthistory">
                <ul *ngFor="let post of this?.forumPost">
                    <div class="card" >                        
                        <input type="button" (click)="hidePost(post.id)" value="Hide this Post"/>
                        <h2><a routerLink='/forum/post/{{post.id}}' routerLinkActive="active">{{ post.title }}</a></h2>
                        <h6>{{ post.description }}</h6>
                        <div *ngFor="let hide of this?.hiddenPost">
                        <div *ngIf="hide.hidePostId !== post.id; else hiddenPost">
                        </div>
                        <ng-template #hiddenPost>
                            <div style="text-align: left;">
                            <button type="button" (click)="unhidePost(post.id)">Unhide Post?</button>
                            <p>This post is hidden.</p>
                            </div>
                        </ng-template>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <h2>Favorites</h2>
        </div>
    </div>
</div>



<!-- Might not need this section of code -->
<ng-template #notLoggedIn>

    <h2>User Profile</h2>

    <p>User is not logged in.</p>
    <a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">Login</a>
</ng-template>