<div *ngIf="logInStatus; else notLoggedIn">
    <div style="text-align: right;">
        <p>Logged in as: {{currentUser}}  <button (click)="logOut()"> Log Out?</button></p>
    </div>
</div>
<ng-template #notLoggedIn>
    <p>User is not logged in. </p>
    <a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">Login</a>
</ng-template>
    <!-- User login status -->
<div *ngIf="darktheme; else lightTheme" style="text-align: right;">
    <button (click)="Light()">Turn on the lights</button>
</div>
<ng-template #lightTheme>
    <div style="text-align: right;">
        <button (click)="Dark()">Turn off the lights</button>
    </div>
</ng-template> 
    <!-- light/dark theme buttons    -->
<div id="theme" class="white">
    <!-- background theme -->
    <body class="white-theme">
        <h1 style="border: 1px solid black;">{{postObject.title}}</h1>
    </body>
    <!-- Title of Post -->
                <br><br>
    <body class="white-theme">
        <h5 style="padding-top: 5px;">{{postObject.userEntity.userName}} says</h5>
    </body>
    <!-- Username of Poster -->
    <div *ngIf="!updatePostDescription; else editPostDescription">
        <span><div class="thought">{{postObject.description}}</div></span>
        <div *ngIf="postObject.userEntity.userName == currentUser">
            <div *ngIf="postEditAndDeleteButtons">
                <button (click)="editPost()">Edit Post Description</button>
                <button (click)="deletePost(postObject.id)">Delete Post</button>
            </div>
        </div>
                <br>
    </div>
    <!-- Post Description and Edit/Delete Buttons -->
    <ng-template #editPostDescription>
        <form #editPostAttempt="ngForm" (ngSubmit)="editPostWithNewDescription(editPostAttempt)">
            <input type="text" name="newDescription" [(ngModel)]="postObject.description" required ngModel>
            <input type="submit" value="Submit">
        </form>
    </ng-template>
    <!-- Edit Post Form -->
                <br><br>
    <div *ngIf="!postReplyBoolean; else createReplyForm">   
        <div *ngIf="logInStatus">
            <button (click)="populateForm()" class="btn btn-primary">Create Reply</button>
        </div>
    </div>
    <!-- Create Reply Button -->
    <ng-template #createReplyForm>
        <div *ngIf="logInStatus">
            <form #createdReplyAttempt="ngForm" (ngSubmit)="createReply(createdReplyAttempt)">
                <label>Reply: <input type="text" name="description" required ngModel></label>     
                <br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </ng-template>
    <!-- Reply Form -->
                <br><br>
    <body>
        <h1>Replies:</h1>
    </body>
    <br><br>
    <div id="parent{{reply.id}}" *ngFor="let reply of replies">
        <div id="{{reply.id}}">
            <div *ngIf="darktheme; else lightSections">
                <body class="black-background">
                    <h5 style="padding-top: 5px;">{{reply.userEntity.userName}} says</h5>
                </body>
            </div>
            <ng-template #lightSections>
                <body class="white-theme">
                    <h5 style="padding-top: 5px;">{{reply.userEntity.userName}} says</h5>
                </body>
            </ng-template>
            <!-- Username of Replier theme  -->
            <div *ngIf="updateDescription && editReplyDescription1 == reply.id; else editReplyDescription">
                <form #editReplyAttempt="ngForm" (ngSubmit)="updateDescription1(editReplyAttempt)">
                    <input type="text" name="newDescription" [(ngModel)]="reply.description" required ngModel>
                    <input type="hidden" name="username" [(ngModel)]="reply.userEntity.userName" required ngModel>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <!-- Edit Reply Form -->
            <ng-template #editReplyDescription>
                <span><div class="thought">{{reply.description}}</div></span>
            </ng-template>
            <!-- Reply Description -->
            <div *ngIf="reply.userEntity.userName == currentUser">
                <div *ngIf="editAndDeleteButtons">
                    <button (click)="editDescription(reply.id)">Update reply</button>
                    <button (click)="deleteReply(reply.id)">Delete</button>
                </div>
            </div>
            <!-- Update and Delete Reply Buttons -->
                <br><br>
        </div>
    </div>
</div>


