<div *ngIf="logInStatus; else notLoggedIn">
    <div>
        <span class="right"><span  class="loginName"> Logged in as: {{currentUser}}</span>  <button style="position: relative" class="btn btn-info" (click)="logOut()"> Log Out?</button></span>
    </div> 
</div>
<!-- log in button -->
<ng-template #notLoggedIn>
    <p>User is not logged in. </p>
    <a routerLink="/login" routerLinkActive="active" (click)="logInStatus = false">Login</a>
</ng-template>
<!-- log out button -->
<div class="left" *ngIf="darktheme; else lightTheme">
        <button class="btn btn-warning" (click)="Light()">Turn on the lights</button>
</div>
<ng-template #lightTheme>
    <div class="left">
        <button class="btn btn-dark" (click)="Dark()">Turn off the lights</button>
    </div>
</ng-template> 
<br><br>
    <!-- light/dark theme buttons    -->
<div *ngIf="!darktheme; else darkerSections">
<div id="theme" class="white">
    <!-- background theme -->
    <div *ngIf="!isLoading">
            <body class="white-theme">
                <h1 class="title">{{postObject.title}}</h1>
            </body>
    <!-- Title of Post -->
                <br><br>
            <body class="white-theme">
                <h2 class="center" style="padding-top: 5px;">{{postObject.userEntity.userName}} says</h2>
            </body>
    <!-- Username of Poster -->
        <div *ngIf="!updatePostDescription; else editPostDescription">
            <span><div class="thought">{{postObject.description}}</div></span>
            <div *ngIf="postObject.userEntity.userName == currentUser">
                <div class="center" *ngIf="postEditAndDeleteButtons">
                    <button class="btn btn-info" (click)="editPost()">Edit Post Description</button>
                    <button class="btn btn-danger" (click)="deletePost(postObject.id)">Delete Post</button>
                </div>
            </div>
                <br>
        </div>
    <!-- Post Description and Edit/Delete Buttons -->
        <ng-template #editPostDescription>
            <form #editPostAttempt="ngForm" (ngSubmit)="editPostWithNewDescription(editPostAttempt)">
                <div class="center">
                <input class="form-control" type="text" name="newDescription" [(ngModel)]="postObject.description" required ngModel>
                <input type="submit" value="Submit">
                <button (click)="cancelPostDescription()">Cancel</button>
                <div *ngIf="replyTooLong">
                    <p style="color:red;">Description is too long, please keep it under 245 characters.</p>
                </div>
                </div>
            </form>
        </ng-template>
    <!-- Edit Post Form -->
                <br><br>
        <div *ngIf="!postReplyBoolean; else createReplyForm">   
            <div class="center" *ngIf="logInStatus">
                <button (click)="populateForm()" class="btn btn-primary">Create Reply</button>
            </div>
        </div>
    
    <!-- Create Reply Button -->
    <ng-template #createReplyForm>
        <div class="center" *ngIf="logInStatus">
            <form #createdReplyAttempt="ngForm" (ngSubmit)="createReply(createdReplyAttempt)">
                    <body class="white-theme">
                        <label>Reply: <input type="text" name="description" required ngModel></label>     
                        <br><br>
                        <input type="submit" value="Submit">
                        <button (click)="cancelCreateReply()">Cancel</button>
                        <div class="center" *ngIf="replyTooLong">
                        <p style="color:red"> Reply too long, please keep it under 245 characters.</p>
                        </div>
                    </body>
            </form>
        </div>
    </ng-template>
    <!-- Reply Form -->
                <br><br>
    <br><br>
    <div class="center">
        <h1 class="big-white">Replies:</h1>
    </div>
    <div id="parent{{reply.id}}" *ngFor="let reply of replies">
        <div id="{{reply.id}}">
                <br><br>
                <body class="white-theme">
                    <h2 class="center" style="padding-top: 5px;">{{reply.userEntity.userName}} says</h2>
                </body>
            <!-- Username of Replier theme  -->
            <div *ngIf="updateDescription && editReplyDescription1 == reply.id; else editReplyDescription">
                <form #editReplyAttempt="ngForm" (ngSubmit)="updateDescription1(editReplyAttempt)">
                    <div class="center">
                    <input class="form-control" type="text" name="newDescription" [(ngModel)]="reply.description" required ngModel>
                    <input type="hidden" name="username" [(ngModel)]="reply.userEntity.userName" required ngModel>
                    <input type="submit" value="Submit">
                    <button (click)="cancelReplyDescription()">Cancel</button>
                    <div *ngIf="replyTooLong">
                    <p style="color: red;"> Reply too long, please keep it under 245 characters.</p>
                    </div>
                     </div>
                </form>
            </div>
            <!-- Edit Reply Form -->
            <ng-template #editReplyDescription>
                <span><div class="thought">{{reply.description}}</div></span>
            </ng-template>
            <!-- Reply Description -->
            <div *ngIf="reply.userEntity.userName == currentUser">
                <div class="center" *ngIf="editAndDeleteButtons">
                    <button class="btn btn-info" (click)="editDescription(reply.id)">Update reply</button>
                    <button class="btn btn-danger" (click)="deleteReply(reply.id)">Delete</button>
                </div>
            </div>
            <!-- Update and Delete Reply Buttons -->
                <br><br>
        </div>
    </div>
    </div>
</div>
</div>
<ng-template #darkerSections>

    <div id="theme" class="black">
        <!-- background theme -->
        <div *ngIf="!isLoading">
                <body class="black-background">
                    <h1 class="title">{{postObject.title}}</h1>
                </body>
        <!-- Title of Post -->
                    <br><br>
                <body class="black-background">
                    <h2 class="center" style="padding-top: 5px;">{{postObject.userEntity.userName}} says</h2>
                </body>
        <!-- Username of Poster -->
            <div *ngIf="!updatePostDescription; else editPostDescription">
                <span><div class="thought">{{postObject.description}}</div></span>
                <div *ngIf="postObject.userEntity.userName == currentUser">
                    <div class="center" *ngIf="postEditAndDeleteButtons">
                        <button class="btn btn-info" (click)="editPost()">Edit Post Description</button>
                        <button class="btn btn-danger" (click)="deletePost(postObject.id)">Delete Post</button>
                    </div>
                </div>
                    <br>
            </div>
        <!-- Post Description and Edit/Delete Buttons -->
            <ng-template #editPostDescription>
                <form #editPostAttempt="ngForm" (ngSubmit)="editPostWithNewDescription(editPostAttempt)">
                    <div class="center">
                    <input class="form-control" type="text" name="newDescription" [(ngModel)]="postObject.description" required ngModel>
                    <input type="submit" value="Submit">
                    <button (click)="cancelPostDescription()">Cancel</button>
                    <div *ngIf="replyTooLong">
                        <p style="color:red;">Description is too long, please keep it under 245 characters.</p>
                    </div>
                    </div>
                </form>
            </ng-template>
        <!-- Edit Post Form -->
                    <br><br>
            <div *ngIf="!postReplyBoolean; else createReplyForm">   
                <div class="center" *ngIf="logInStatus">
                    <button (click)="populateForm()" class="btn btn-primary">Create Reply</button>
                </div>
            </div>
        
        <!-- Create Reply Button -->
        <ng-template #createReplyForm>
            <div class="center" *ngIf="logInStatus">
                <form #createdReplyAttempt="ngForm" (ngSubmit)="createReply(createdReplyAttempt)">
                        <body class="black-background">
                            <label>Reply: <input type="text" name="description" required ngModel></label>     
                            <br><br>
                            <input type="submit" value="Submit">
                            <button (click)="cancelCreateReply()">Cancel</button>
                            <div class="center" *ngIf="replyTooLong">
                                <p style="color:red"> Reply too long, please keep it under 245 characters.</p>
                            </div>
                        </body>
                </form>
            </div>
        </ng-template>
        <!-- Reply Form -->
                    <br><br>
        <br><br>
        <div class="center">
        <h1 class="big-black">Replies:</h1>
        </div>
        <div id="parent{{reply.id}}" *ngFor="let reply of replies">
            <div id="{{reply.id}}">
                <div class="center">
                    <br><br>
                    <body class="black-background">
                        <h2 style="padding-top: 5px;">{{reply.userEntity.userName}} says</h2>
                    </body>
                </div>
                <!-- Username of Replier theme  -->
                <div *ngIf="updateDescription && editReplyDescription1 == reply.id; else editReplyDescription">
                    <form #editReplyAttempt="ngForm" (ngSubmit)="updateDescription1(editReplyAttempt)">
                        <div class="center">
                        <input class="form-control" type="text" name="newDescription" [(ngModel)]="reply.description" required ngModel>
                        <input type="hidden" name="username" [(ngModel)]="reply.userEntity.userName" required ngModel>
                        <input type="submit" value="Submit">
                        <div *ngIf="replyTooLong">
                        <p style="color: red;"> Reply too long, please keep it under 245 characters.</p>
                        </div>
                         </div>
                    </form>
                </div>
                <!-- Edit Reply Form -->
                <ng-template #editReplyDescription>
                    <span><div class="thought">{{reply.description}}</div></span>
                </ng-template>
                <!-- Reply Description -->
                <div *ngIf="reply.userEntity.userName == currentUser">
                    <div class="center" *ngIf="editAndDeleteButtons">
                        <button class="btn btn-info" (click)="editDescription(reply.id)">Update reply</button>
                        <button class="btn btn-danger" (click)="deleteReply(reply.id)">Delete</button>
                    </div>
                </div>
                <!-- Update and Delete Reply Buttons -->
                    <br><br>
            </div>
        </div>
        </div>
    </div>

</ng-template>




