
.black {
    background-image: url('../images/black-image.png');
    position: absolute; 
    top: 1; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
}
.white {
    background-image: repeating-linear-gradient(white, rgb(148, 252, 252));
    position: absolute; 
    top: 1; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
}
.white-theme {
    color:black;
    background: transparent;
}
.black-background {
    color:beige;
    background: transparent;
}
.black-theme {
    color:black;
    background: transparent;
    border: 1px solid black;
}
.div {
    border-radius: 10px;
    margin: auto;
    border-left: 5px solid #0c0b0b;
    border-right: 5px solid black;
    border-top: 5px solid #000000;
    border-bottom: 5px solid black;
    width: 50%;
    height: 150px;
}
.big{
    position:absolute;
    left:0;
    right:0;
}
.left {
    float: left;
}
.thought {
    display:flex;
    background-color:#e0d5d5;
    padding:20px;
    border-radius:30px;
    min-width:200px;
    max-width:900px;
    min-height:40px;
    margin:auto;
    position:relative;
    align-items:center;
    justify-content:center;
    text-align:center;
  }
  